mixin range(config)
    -
        const defaults = {
            label: '',
            reverse: false,           
            type: 'single',
            id: null,
            step: 10,
            min: 0,
            max: 100,
            start: 0,
            end: null
        }
    
    -   const params = Object.assign({}, defaults, config)
    
    .range(id= params.id, data-type= params.type, data-step= params.step, data-min= params.min, data-max= params.max, data-start= params.start, data-end= params.end)&attributes(attributes)
        .form__group
            .form__wrapper
                span.range__title= params.label
                span.form__range(class= {'form__range--reverse' : params.reverse})
                    span.range__vals
                        if params.type == 'double'
                            input.range__min-val(type='text')
                            input.range__max-val(type='text')
                        else if params.type == 'single'
                            input.range__min-val(type='text')
                    span.range__slider
                