.range {
    width: 100%;

    .form__wrapper {
        flex-direction: column;

    }
    
}

.range__title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    padding-left: 20px;
}

.form__range {
    position: relative;
    display: flex;    
    flex-direction: column-reverse;
    width: 100%; 
    padding: 10px 20px;
    margin-top: 5px;
}

.form__range--reverse {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 5px;
    
    .range__vals {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.range__vals {
    display: flex;
	justify-content: space-between;
    margin-top: 10px;
    
}

.range__min-val,
.range__max-val {
    color: $color-grey-2;
        line-height: 15px;      
        font-size: 12px;
        font-weight: 400;
        padding: 0 !important;
        margin: 0;
        border: 0;
        
        
        &.focus {
            color: $color-black;
        }
}

.range__max-val {
    text-align: right;
}

// styles for noUiSlider

.noUi-horizontal {
    width: calc(100% - 9px);
    margin: 0 auto;
    height: 2px;
    border: none;
    background-color: $color-grey-2;
}

.noUi-connect {
    height: 2px;   
    background-color: $color-danger;
}


.noUi-horizontal .noUi-handle {
    position: absolute;
    left: 0;
    top: -17px;
    right: -18px !important;
    width: 12px;
    height: 12px;
    padding: 12px;
    background-image: url('../../assets/img/list-style-red.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    box-sizing: content-box;
    border: none;
    border-radius: 50%;
    
    box-shadow: none;

    &:before,
    &:after {
        display: none;
    }
}


