mixin listItems(config)
    
    -
        var def = {
            items: []
        }
    -   var params = Object.assign({}, def, config)

    ul
        each item in params.items
            li
                span= item.name
                if item.items
                    +listItems({items: item.items})



//- ul       
//-         - for (i in params.items)
//-             li= params.items[i].name
//-                 if params.items[i].items
//-                     ul
//-                         - for (a in params.items[i].items )
//-                             if params.items[i].items[a] == 1
//-                                 li= params.items[i].items[a].name
//-                             else
//-                                 ul
//-                                 - for (b in params.items[i].items[a].items )
//-                                     if params.items[i].items[a]
//-                                         li= params.items[i].items[a].items[b].name
                                
