include ./mixins.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        //- Favicon
        link(rel="apple-touch-icon", sizes="180x180", href="../assets/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="../assets/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="../assets/favicon/favicon-16x16.png")
        link(rel="manifest", href="../assets/favicon/manifest.json")
        link(rel="mask-icon", href="../assets/favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="theme-color", content="#000")

        //- Manifest
        link(rel='manifest', href='favicon/manifest.json')

        block title
        link(rel="stylesheet", href="css/common-docs.css")
        block styles
    body
        //- include ../assets/img/sprite.min.svg

        //- Header
        //- +header

        // Start: Main
        main#main.docs
            block main
        // End: Main  

        //- Modals
        // Start: Modals
        block modal
        // End: Modals

        //- Footer
        include ../sections/footer/footer.pug

        //- Scripts
        //- script(src="js/vendors/jquery.js")
        //- script(src="js/vendors/dom.js")
        script(src="js/vendors/utils.js")
        script(src="js/common-docs.js")
        //- script(src="js/common.js")

        block scripts

        script(src="js/backend/backend.js")