//- Start: Mixins
include ../components/iframe/iframe
include ../components/accordion/accordion
include ../components/iframe/iframe
include ../components/button/button
include ../components/dropdown/dropdown
include ../components/nav/nav
include ../components/form/form
include ../components/modal/modal.pug
include ../components/icon/icon.pug
include ../components/header/header.pug
include ../components/swiper/swiper.pug
include ../components/tab/tab.pug
include ../components/scroll-x/scroll-x.pug
include ../components/range/range
include ../components/gallery/gallery
include ../components/btn2/btn2
include ./list/featured-list/featured-list.pug
include ../components/ic2/ic2
include ../components/listItems/listItems
include ../components/dropdown-menu/dropdown-menu
//- End: Mixins