$breakpoint: $toggleBreakpoint; // is in var.scss
$nav-padding: 16px;
$nav-list-padding: 1em;
$padding-top: 3em;
$space-between-items: 1em;
$animation-duration: .5s;
$nav-ic-close-pos-top: (
    def: 5px,
    $sm: 5px
);
$nav-ic-close-size: 40px;
$nestedDropdownMargin: .75em;
$navOpenBg: $color-w;



.nav {
    // margin-right: -$nav-padding;
    // position: absolute; // This need to fix bug with wrong icon position
    @include trs($delay: $animation-duration);
    color: $color-black;

    &.open {
        @include trs($delay: 0s);
        opacity: 1;
        visibility: visible;

        .nav__list {
            background: $navOpenBg;
            transform: translateX(0);
        }

        .nav__ic-close {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
            background: $navOpenBg;

            @include mq-up($breakpoint) {
                opacity: 0;
                visibility: hidden;
            }
        }

        .nav__bg {
            opacity: 1;
            visibility: visible;

            @include mq-up($breakpoint) {
                opacity: 0;
                visibility: hidden;
            }
        }

        
    }

    @include mq($breakpoint) {
        position: fixed;
        z-index: 999;
        left: 0px; 
        top: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        
    }
}

.nav__list {
    


    @include trs($animation-duration);
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;

    @include mq($breakpoint) {
        display: block;
        
        position: fixed;
        right: 0;
        top: 0;
        width: 90%;
        height: 100%;
        padding: $nav-list-padding;
        padding-top: $padding-top;

        transform: translateX(100%);

        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    
}

.nav__items {
    display: flex;
    flex-wrap: wrap;

    @include mq($breakpoint) {
        display: block;

        .dropdown {
            margin-left: $nestedDropdownMargin;
        }
    }
}

.nav__item {
    + .nav__item {
        margin-left: $space-between-items;

        @include mq($breakpoint) {
            margin-left: 0;
        }
    }

    // Item inside
    .nav__item {
        width: 100%;

        + .nav__item {
            margin-left: 0;
        }

        .nav__link {
            display: block;
            width: 100%;
            padding: .5em;

            &:hover {
                background: $color-grey-0;
            }
        }

    }

    @include mq($breakpoint) {
        width: 100%;
    }
    
}

.nav__link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav__link {
    @include trs;
    display: block;
    width: 100%;
    padding: .5em;
    color: currentColor;

    @include mq($breakpoint) {
        padding: 8px 0;
    }
}

.nav__icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;

    @include mq($breakpoint) {
        height: 32px;
        padding: 8px 0;
    }
}

.nav__toggle {
    display: none;
    cursor: pointer;
    position: relative;
    color: $color-black;
    z-index: 1000;
    width: $nav-ic-close-size;
    height: $nav-ic-close-size;
    justify-content: center;
    align-items: center;

    span {
        margin-left: 32px;
    }

    &.open {
        color: #000;

        .nav__ic-close {
            stroke: #000;
            opacity: 1;
            visibility: visible;
            transform: none;
        }

        .nav__ic-open {
            opacity: 0;
            visibility: hidden;
            transform: translateX(20px);
        }
    }

    @include mq($breakpoint) {
        display: flex;
    }
}

.nav__toggle-ic {
    stroke: $color-black;
    left: 0;
    top: 2px;
    width: $nav-ic-close-size / 2;
    height: $nav-ic-close-size / 2;
}

.nav__ic-close {
    @include resp-magic(top, $nav-ic-close-pos-top);
    transition: transform .3s ease, background-color .3s ease .3s; // Delay for background
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    position: absolute;
    right: 20px;
    left: auto;
    z-index: 2;

}

.nav__ic-open {
    @include trs;
    opacity: 1;
    visibility: visible;
    transform: none;
}

.nav__bg {
    @include trs($animation-duration);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .4);
    z-index: 0;

    opacity: 0;
    visibility: hidden;

    
}
