mixin nav(arr)
    - var items = arr || [];

    nav.nav#nav
        button.nav__toggle.nav__ic-close
            svg.nav__toggle-ic(viewbox='0 0 22 22', xmlns='http://www.w3.org/2000/svg')
                g(stroke-width='2', fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M1 1l20 20M21 1L1 21')

        .nav__list
            ul.nav__items
                - for (var i = 0; i < items.length; i++)
                    li.nav__item(class= items[i].dropdown != undefined ? 'has-dropdown' : '') 

                        if !items[i].dropdown
                            .nav__link-wrapper
                                a.nav__link(href=items[i].href)= items[i].title
                        if items[i].dropdown
                            .nav__link-wrapper
                                a.nav__link(href=items[i].href)= items[i].title
                                +icon({name: '#ic-open', class: "nav__icon dropdown__icon", stroke: 'current'})
                            +dropdown({items: items[i].dropdown, left: items[i].left})


            .header__phone.hidden-lg-up
                +icon({name: '#ic-phone-call', stroke: 'primary', width: 16, height: 16})
                span +888-000-000
            .header__btn.hidden-lg-up
                +btn({color: 'primary', href: 'lib.html'})

        .nav__bg

    button.nav__toggle#nav__toggle              
        svg.nav__toggle-ic.nav__ic-open(viewbox='0 0 22 20', xmlns='http://www.w3.org/2000/svg')
            g(stroke-width='2', fill='none', fill-rule='evenodd', stroke-linecap='round', stroke-linejoin='round')
                path(d='M1 1h20M1 10h20M1 19h20')

        //- span.hidden-md Меню