.lib {
    background: #fff;

    pre {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        width: 1px;             // 1px for selection and copy with js. 0px can't be selected
        height: 1px;
    }
}

.lib__menu {
    border-right: 2px solid #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .btn {
        justify-content: flex-start;
    }
}

.lib__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .btn {
        margin-left: 1em;
    }
}

.lib__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    padding: 16px 0;
}

.lib__item {
    margin: 0 10px;
}

.lib__item--full-width {
    width: 100%;
}

.lib__wrap {
    display: flex;

    > * {
        margin-right: 5px;
    }
}

.lib__actions {
    display: flex;
    justify-content: space-between;
}

.lib__desc {
    opacity: .5;
}

hr {
    width: 100%;
    opacity: .2;
}


// Other
.lib__dropdown-wrapper {
    position: relative;
}