extends ../layout.pug

block styles
    link(rel="stylesheet", href="css/lib.css")
block scripts
    script(src="js/lib.js" )

block main

    h1 Library


    .lib
        .container-fluid
            .row
                .col-md-2
                    ul.lib__menu
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-buttons', text: 'Buttons'})
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-icons', text: 'Icons'})
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-forms', text: 'Forms'})
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-typography', text: 'Typography'})
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-accordion', text: 'Accordion'})
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-swiper', text: 'Swiper'})
                        li.lib__item 
                            +btn({color: 'link', href: '#lib-dropdown', text: 'Dropdown'})
    


                .col-md-10
                    //- BUTTONS
                    .lib__heading(id='lib-buttons')
                        h1 Buttons
                        +btn({color: 'link'})(data-modal="#settings-buttons")
                            span Show settings
                    .lib__items

                        .lib__item
                            h3.lib__desc Primary
                            .lib__mixin
                                +btn({text: 'ok'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({text: 'ok'})

                        .lib__item
                            h3.lib__desc Secondary
                            .lib__mixin
                                +btn({color: 'secondary'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'secondary'})

                        .lib__item
                            h3.lib__desc success
                            .lib__mixin
                                +btn({color: 'success'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'success'})

                        .lib__item
                            h3.lib__desc warning
                            .lib__mixin
                                +btn({color: 'warning'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'warning'})

                        .lib__item
                            h3.lib__desc danger
                            .lib__mixin
                                +btn({color: 'danger'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'danger'})

                        .lib__item
                            h3.lib__desc info
                            .lib__mixin
                                +btn({color: 'info'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'info'})

                        .lib__item
                            h3.lib__desc link
                            .lib__mixin
                                +btn({color: 'link'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'link'})

                        .lib__item
                            h3.lib__desc link no padding
                            .lib__mixin
                                +btn({color: 'link', nopadding: true})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({color: 'link', nopadding: true})

                        hr

                        .lib__item
                            h3.lib__desc Ghost - Primary
                            .lib__mixin
                                +btn({ghost: true})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({ghost: true})

                        .lib__item
                            h3.lib__desc Ghost - Secondary
                            .lib__mixin
                                +btn({ghost: true, color: 'secondary'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        ghost: true, 
                                        color: 'secondary'
                                    })

                        .lib__item
                            h3.lib__desc Ghost - success
                            .lib__mixin
                                +btn({ghost: true, color: 'success'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        ghost: true, 
                                        color: 'success'
                                    })

                        .lib__item
                            h3.lib__desc Ghost - warning
                            .lib__mixin
                                +btn({ghost: true, color: 'warning'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        ghost: true, 
                                        color: 'warning'
                                    })

                        .lib__item
                            h3.lib__desc Ghost - danger
                            .lib__mixin
                                +btn({ghost: true, color: 'danger'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        ghost: true, 
                                        color: 'danger'
                                    })

                        .lib__item
                            h3.lib__desc Ghost - info
                            .lib__mixin
                                +btn({ghost: true, color: 'info'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({ghost: true, 
                                        color: 'info'
                                    })



                        hr

                        .lib__item
                            h3.lib__desc Link with href
                            .lib__mixin
                                +btn({href: 'lib.html'})
                                    span Link to page
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({href: 'lib.html'})
                                        span Link to page

                        .lib__item
                            h3.lib__desc Custom content
                            .lib__mixin
                                +btn
                                    span Custom content 😗
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn
                                        span Custom content 😗

                        .lib__item
                            h3.lib__desc With icon
                            .lib__mixin
                                +btn({withIcon: true})
                                    span Icon right
                                    +icon({name: '#ic-close--white', stroke: 'white'})
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({withIcon: true})
                                        span Icon right
                                        +icon({name: '#ic-close--white', pos: 'left', stroke: 'white'})

                        .lib__item
                            h3.lib__desc With icon <b>Left</b>
                            .lib__mixin
                                +btn({
                                    withIcon: true,
                                    iconGoLeft: true
                                })
                                    span Icon Left
                                    +icon({
                                        name: '#ic-polar-bear',
                                    })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        withIcon: true,
                                        iconGoLeft: true
                                    })
                                        span Icon Left
                                        +icon({
                                            name: '#polar-bear',
                                            pos: 'right'
                                        })

                        .lib__item
                            h3.lib__desc Icon only
                            .lib__mixin
                                +btn({
                                    iconOnly: true,
                                })
                                    +icon({
                                        name: '#ic-close--white',
                                        stroke: 'white'
                                    })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        iconOnly: true,
                                    })
                                        +icon({
                                            name: '#ic-close--white',
                                            stroke: 'white'
                                        })

                        .lib__item
                            h3.lib__desc Ghost icon
                            .lib__mixin
                                +btn({
                                    iconOnly: true,
                                    ghost: true,
                                    color: 'danger',
                                    size: 'xs'
                                })
                                    +icon({
                                        name: '#ic-close--white',
                                        width: '2em',
                                        height: '2em',
                                        stroke: 'danger'
                                    })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        iconOnly: true,
                                        ghost: true,
                                        color: 'danger',
                                        size: 'xs'
                                    })
                                        +icon({
                                            name: '#ic-close--white',
                                            width: '2em',
                                            height: '2em',
                                            stroke: 'danger'
                                        })




                        hr

                        .lib__item
                            h3.lib__desc Large
                            .lib__mixin
                                +btn({
                                    size: 'lg'
                                })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        size: 'lg'
                                    })


                        .lib__item
                            h3.lib__desc Default
                            .lib__mixin
                                +btn
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn

                        .lib__item
                            h3.lib__desc Small
                            .lib__mixin
                                +btn({
                                    size: 'sm'
                                })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        size: 'sm'
                                    })

                        .lib__item
                            h3.lib__desc X-small
                            .lib__mixin
                                +btn({
                                    size: 'xs'
                                })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        size: 'xs'
                                    })

                        hr

                        .lib__item
                            h3.lib__desc Disabled
                            .lib__mixin
                                +btn({
                                    color: 'disabled',
                                    text: 'Disabled',
                                     dataModal: '#modal1'
                                })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        color: 'disabled',
                                        text: 'Disabled',
                                        dataModal: '#modal1'
                                    })


                        hr

                        .lib__item
                            h3.lib__desc Animation
                            .lib__mixin
                                +btn({
                                    animation: 'ripple'
                                })
                                    | Ripple
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        animation: 'ripple'
                                    })
                                       | Ripple


                        hr

                        .lib__item
                            h3.lib__desc Open modal
                            .lib__mixin
                                +btn({
                                        text: 'Open modal',
                                        dataModal: '#modal1'
                                    })
                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +btn({
                                        animation: 'ripple',
                                        dataModal: '#modal1'
                                    }) Click me



                    //- ICONS
                    .lib__heading(id='lib-icons')
                        h1 Icons
                        +btn({color: 'link'})(data-modal="#settings-icons")
                            span Show settings
                    .lib__items
                        .lib__item
                            h3.lib__desc Small icons
                            .lib__mixin
                                +icon({
                                    name: '#ic-open',
                                    stroke: 'primary'
                                })

                                +icon({
                                    name: '#ic-close--white',
                                    stroke: 'danger'
                                })

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +icon({
                                        name: '#ic-open',
                                        stroke: 'primary'
                                    })



                    //- FORMS
                    .lib__heading(id='lib-forms')
                        h1 Forms
                        +btn({color: 'link'})(data-modal="#settings-forms")
                            span Show settings
                    .lib__items
                        .row
                            .col-sm-12.col-lg-6
                                .lib__item
                                    h3.lib__desc Default
                                    .lib__mixin
                                        +form
                                    .lib__actions
                                        +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                        +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                        pre.
                                            +form

                            .col-sm-12.col-lg-6

                                .lib__item
                                    h3.lib__desc Custom
                                    .lib__mixin
                                        +form
                                            +formGroup({text: 'Animated label'})
                                            +formGroup({type: 'email', placeholder: 'Placeholder for text'})
                                            +formGroup({type: 'tel', value: '+123 455 667 89'})
                                            +formGroup({type: 'password'})
                                            +textarea({text: 'Enter your message here...'})(cols='4' rows='4')
                                            +formGroup({type: 'checkbox', required: false})
                                                span Some text 
                                            +formGroup({type: 'checkbox', required: false})
                                                span Some text with <a href='lib.html'>Terms & Conditions</a>
                                            +formGroup({
                                                type: 'radio', 
                                                elms: ['radio 1 - required', 'radio 2 - required', 'radio 3 - required'], 
                                                name: 'radiooo', 
                                                checkedIndex: null,
                                                requiredRadios: true
                                            })
                                            +formGroup({name: 'r1', type: 'radio', elms: [100,200,300,400], inRow: true})
                                            +formGroup({type: 'file', required: true, inputAttrs: {
                                                multiple: true
                                            }})
                                            ul.uploaded-files
                                            +formSuccess({text: 'Hello'})
                                                h1 This is Success message!!!
                                            +btn({color: 'success'})
                                                span Submit
                                                

                                    .lib__actions
                                        +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                        +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                        pre.
                                            +form()
                                                +formGroup({text: 'Animated label'})
                                                +formGroup({type: 'email', placeholder: 'Placeholder for text'})
                                                +formGroup({type: 'tel', value: '+123 455 667 89'})
                                                +formGroup({type: 'password'})
                                                +textarea({text: 'Enter your message here...'})(cols='4' rows='4')
                                                +formGroup({type: 'checkbox', required: false})
                                                    span Some text 
                                                +formGroup({type: 'checkbox', required: false})
                                                    span Some text with <a href='lib.html'>Terms & Conditions</a>
                                                +formGroup({
                                                    type: 'radio', 
                                                    elms: ['radio 1 - required', 'radio 2 - required', 'radio 3 - required'], 
                                                    name: 'radiooo', 
                                                    checkedIndex: null,
                                                    requiredRadios: true
                                                })
                                                +formGroup({name: 'r1', type: 'radio', elms: [100,200,300,400], inRow: true})
                                                +formSuccess({text: 'Hello'})
                                                    h1 This is Success message!!!
                                                +btn({color: 'success'})
                                                    span Submit


                    //- TAB-s                                                    
                    .lib__heading(id='lib-tabs')
                        h1 Tabs
                        span *to see scrolling effect put set window in mobile mode
                        +btn({color: 'link'})(data-modal="#settings-tabs")
                            span Show settings
                    .lib__items
                        .row
                            .col-sm-12.col-lg-6
                                .lib__item
                                    h3.lib__desc Tabs with scrolling tab-buttons - not buttons
                                    .lib__mixin
                                        +tab()(data-tab-activeIndex="0")
                                            .tab-btns.scroll-x
                                                .my-div.scroll-x__item.tab-btns__toggle-tab.js-tab-active(style="padding: 10px 70px; border: 1px solid blue;")
                                                    .my-span 1
                                                .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid red;")
                                                    .my-span 2
                                                .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid green;")
                                                    .my-span 3
                                            ul.tab__container#container
                                                +tab-item({class: 'js-tab-active'})
                                                    h1.heading Heading 1
                                                +tab-item
                                                    h1.heading Heading 2
                                                +tab-item
                                                    h1.heading Heading 3
                                    .lib__actions
                                        +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                        +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                        pre.
                                            +tab(data-tab-activeIndex="0")
                                                .tab-btns.scroll-x
                                                    .my-div.scroll-x__item.tab-btns__toggle-tab.js-tab-active(style="padding: 10px 70px; border: 1px solid blue;")
                                                        .my-span 1
                                                    .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid red;")
                                                        .my-span 2
                                                    .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid green;")
                                                        .my-span 3
                                                ul.tab__container#container
                                                    +tab-item({class: 'js-tab-active'})
                                                        h1.heading Heading 1
                                                    +tab-item
                                                        h1.heading Heading 2
                                                    +tab-item
                                                        h1.heading Heading 3

                            .col-sm-12.col-lg-6

                                .lib__item
                                    h3.lib__desc Tabs with scrolling tab-buttons
                                    .lib__mixin
                                        +tab({tabBtns:[
                                                {
                                                    class: 'tab-btns__toggle-tab js-tab-active',
                                                    color: 'primary',
                                                    span: 'Btn1'  
                                                },
                                                {
                                                    class: 'tab-btns__toggle-tab',
                                                    color: 'secondary',
                                                    span: 'Btn2'  
                                                },
                                                {
                                                    class: 'tab-btns__toggle-tab',
                                                    color: 'info',
                                                    span: 'Btn3'  
                                                },
                                                {
                                                    class: 'tab-btns__toggle-tab',
                                                    color: 'warning',
                                                    span: 'Btn4'  
                                                }
                                            ]        
                                        })(data-tab-activeIndex="0")
                                            +tab-item({class: 'js-tab-active'})
                                                h1.heading Heading 1
                                            +tab-item
                                                h1.heading Heading 2
                                            +tab-item
                                                h1.heading Heading 3
                                            +tab-item
                                                h1.heading Heading 4  
                                                

                                    .lib__actions
                                        +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                        +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                        pre.
                                            +tab({tabBtns:[
                                                {
                                                    class: 'tab-btns__toggle-tab js-tab-active',
                                                    color: 'primary',
                                                    span: 'Btn1'  
                                                },
                                                {
                                                    class: 'tab-btns__toggle-tab',
                                                    color: 'secondary',
                                                    span: 'Btn2'  
                                                },
                                                {
                                                    class: 'tab-btns__toggle-tab',
                                                    color: 'info',
                                                    span: 'Btn3'  
                                                },
                                                {
                                                    class: 'tab-btns__toggle-tab',
                                                    color: 'warning',
                                                    span: 'Btn4'  
                                                }
                                            ]        
                                            })(data-tab-activeIndex="0")
                                                +tab-item({class: 'js-tab-active'})
                                                    h1.heading Heading 1
                                                +tab-item
                                                    h1.heading Heading 2
                                                +tab-item
                                                    h1.heading Heading 3
                                                +tab-item
                                                    h1.heading Heading 4 
                            .col-sm-12.col-lg-6

                                .lib__item
                                    h3.lib__desc Tabs with content in some other place
                                    .lib__mixin
                                        .tab(data-tab-activeIndex="0")
                                            .tab-btns.scroll-x
                                                .my-div.scroll-x__item.tab-btns__toggle-tab.js-tab-active(style="padding: 10px 70px; border: 1px solid blue;")
                                                    .my-span 1
                                                .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid red;")
                                                    .my-span 2
                                                .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid green;")
                                                    .my-span 3

                                        h1 some other content
                                        p Some other content 


                                        .other-place-tab-container
                                            ul.tab__container#container
                                                +tab-item({class: 'js-tab-active'})
                                                    h1.heading Heading 1
                                                    .some__content
                                                        p Lorem Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения 
                                                
                                                +tab-item
                                                    h1.heading Heading 2
                                                    .some__content
                                                        p Lorem Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий. Равным образом рамки и место обучения кадров требуют от нас анализа систем массового участия.
                                
                                                        
                                                +tab-item
                                                    h1.heading Heading 3
                                                    .some__content
                                                        p Lorem Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий. 
                                                

                                    .lib__actions
                                        +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                        +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                        pre.
                                            .tab(data-tab-activeIndex="0")
                                                .tab-btns.scroll-x
                                                    .my-div.scroll-x__item.tab-btns__toggle-tab.js-tab-active(style="padding: 10px 70px; border: 1px solid blue;")
                                                        .my-span 1
                                                    .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid red;")
                                                        .my-span 2
                                                    .my-div.scroll-x__item.tab-btns__toggle-tab(style="padding: 10px 70px; border: 1px solid green;")
                                                        .my-span 3

                                            h1 some other content
                                            p Some other content 


                                            .other-place-tab-container
                                                ul.tab__container#container
                                                    +tab-item({class: 'js-tab-active'})
                                                        h1.heading Heading 1
                                                        .some__content
                                                            p Lorem Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения 
                                                    
                                                    +tab-item
                                                        h1.heading Heading 2
                                                        .some__content
                                                            p Lorem Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий. Равным образом рамки и место обучения кадров требуют от нас анализа систем массового участия.
                                    
                                                            
                                                    +tab-item
                                                        h1.heading Heading 3
                                                        .some__content
                                                            p Lorem Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий. 
                    //- Scroll-X
                    .lib__heading(id='lib-scroll-x')
                        h1 Scroll-X
                        span *to see scrolling effect put set window in mobile mode
                        +btn({color: 'link'})(data-modal="#settings-scroll-x")
                            span Show settings
                    .lib__items
                        .lib__item.lib__item--full-width
                            h3.lib__desc Scrolling buttons
                            .lib__mixin
                                +scroll-x({elms: [
                                        {
                                        color: 'primary',
                                        span: 'Btn1'  
                                        },
                                        {
                                        color: 'secondary',
                                        span: 'Btn2'  
                                        },
                                        {
                                        color: 'info',
                                        span: 'Btn3'  
                                        },
                                        {
                                        color: 'warning',
                                        span: 'Btn4'  
                                        },
                                        {
                                        class: 'scroll-x__btn',
                                        color: 'danger',
                                        span: 'Btn5'  
                                        },
                                    ]
                                })

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +scroll-x({elms: [
                                            {
                                            color: 'primary',
                                            span: 'Btn1'  
                                            },
                                            {
                                            color: 'secondary',
                                            span: 'Btn2'  
                                            },
                                            {
                                            color: 'info',
                                            span: 'Btn3'  
                                            },
                                            {
                                            color: 'warning',
                                            span: 'Btn4'  
                                            },
                                            {
                                            class: 'scroll-x__btn',
                                            color: 'danger',
                                            span: 'Btn5'  
                                            },
                                        ]
                                    })
                        .lib__item.lib__item--full-width
                            h3.lib__desc Scrolling not-buttons
                            .lib__mixin
                                +scroll-x
                                    +scroll-x__item
                                        .my-div(style="padding: 10px 70px; border: 1px solid blue;")
                                            .my-span 1
                                    +scroll-x__item
                                        .my-div(style="padding: 10px 70px; border: 1px solid red;")
                                            .my-span 2
                                    +scroll-x__item
                                        .my-div(style="padding: 10px 70px; border: 1px solid green;")
                                            .my-span 3

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +scroll-x
                                        +scroll-x__item
                                            .my-div(style="padding: 10px 70px; border: 1px solid blue;")
                                                .my-span 1
                                        +scroll-x__item
                                            .my-div(style="padding: 10px 70px; border: 1px solid red;")
                                                .my-span 2
                                        +scroll-x__item
                                            .my-div(style="padding: 10px 70px; border: 1px solid green;")
                                                .my-span 3
                    


                    //- TYPOGRAPHY
                    .lib__heading(id='lib-typography')
                        h1 Typography
                        +btn({color: 'link'})(data-modal="#settings-typography")
                            span Show settings
                    .lib__items
                        .lib__item
                            h3h3.lib__desc Defaults (Static)
                            .lib__mixin
                                .static
                                    h1 h1 : Page heading very long one with some info inside
                                    h2 h2 : Page heading
                                    h3 h3 : Page heading
                                    h4 h4 : Page heading


                                    hr

                                    p Lorem ipsum dolor sit amet consectetur <a href='lib.html'>adipisicing elit  Alias totam beatae sint aut praesentium.</a> Alias totam beatae sint aut praesentium adipisci maxime culpa ad officia hic magni magnam fugiat eum repellat soluta, deleniti mollitia, nostrum perspiciatis enim illo, suscipit sapiente! Ullam maxime alias incidunt aliquam sint iusto omnis repellat quisquam quo reiciendis. Odit deserunt iure magni, sunt facere cum aliquam, ab cumque voluptatum aliquid nobis rem recusandae autem ad delectus commodi molestiae, quo molestias pariatur minima fuga. Consequatur doloremque, quod nam nostrum dolorum fuga vel iusto amet sed expedita. Numquam quia ipsa dicta rerum dolor culpa voluptatem? Perspiciatis deleniti quod cumque provident quaerat et, quis maiores.
                                    p Lorem ipsum dolor, <b>sit amet consectetur adipisicing elit</b>. Iure ad <i>sint rerum perspiciatis laudantium aut</i>, sequi earum nesciunt modi mollitia, exercitationem eveniet dolorem placeat dolore enim corporis ipsa vero! Et praesentium facere porro laborum consectetur sunt molestiae cum quidem quisquam in iusto maiores, nihil nulla incidunt doloremque explicabo possimus distinctio.

                                    hr 

                                    ul
                                        li UL List item
                                        li UL List item
                                        li UL List item
                                        li UL List item

                                    ol
                                        li Ol list item
                                        li Ol list item
                                        li Ol list item
                                        li Ol list item

                            .lib__actions
                                //- +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                //- +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy

                        .lib__item
                            h3.lib__desc Title
                            .lib__mixin
                                .title.title--xs Title x-small .title--xs
                                .title.title--sm Title small .title--sm
                                .title Title .title
                                .title.title--lg Title Large .title--lg
                            .lib__actions
                                //- +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                //- +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy

                        .lib__item
                            h3.lib__desc Subtitle
                            .lib__mixin
                                .subtitle.subtitle--xs Subtitle x-small .subtitle--xs
                                .subtitle.subtitle--sm Subtitle Small .subtitle--sm
                                .subtitle.subtitle Subtitle .subtitle
                                .subtitle.subtitle--lg Subtitle Large .subtitle--lg

                            .lib__actions
                                //- +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                //- +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy


                        .lib__item
                            h3.lib__desc Helpers
                            .lib__mixin
                                h3 .text--left
                                p.text--left Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur tempora illum repellendus deserunt est corporis recusandae expedita accusamus sed dolor, optio inventore quod laborum maiores dolorem voluptatibus id tempore voluptates? Quae magnam explicabo eaque et laborum doloribus accusamus distinctio voluptas.
                                h3 .text--center
                                p.text--center Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur tempora illum repellendus deserunt est corporis recusandae expedita accusamus sed dolor, optio inventore quod laborum maiores dolorem voluptatibus id tempore voluptates? Quae magnam explicabo eaque et laborum doloribus accusamus distinctio voluptas.
                                h3 .text--right
                                p.text--sright Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur tempora illum repellendus deserunt est corporis recusandae expedita accusamus sed dolor, optio inventore quod laborum maiores dolorem voluptatibus id tempore voluptates? Quae magnam explicabo eaque et laborum doloribus accusamus distinctio voluptas.
                                h3 .text--sm
                                p.text--sm Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur tempora illum repellendus deserunt est corporis recusandae expedita accusamus sed dolor, optio inventore quod laborum maiores dolorem voluptatibus id tempore voluptates? Quae magnam explicabo eaque et laborum doloribus accusamus distinctio voluptas.
                                h3 .text--lg
                                p.text--lg Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur tempora illum repellendus deserunt est corporis recusandae expedita accusamus sed dolor, optio inventore quod laborum maiores dolorem voluptatibus id tempore voluptates? Quae magnam explicabo eaque et laborum doloribus accusamus distinctio voluptas.

                            .lib__actions
                                //- +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                //- +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy



                    //- ACCORDION
                    .lib__heading(id='lib-accordion')
                        h1 Accordion
                        +btn({color: 'link'})(data-modal="#settings-accordion")
                            span Show settings
                    .lib__items
                        .lib__item.lib__item--full-width
                            h3.lib__desc Default
                            .lib__mixin
                                +accordion

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +accordion

                        br
                        hr
                        br

                        .lib__item.lib__item--full-width
                            h3.lib__desc Collapse
                            .lib__mixin
                                +accordion({collapse: true, items: [
                                    {
                                        title: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, sit?',
                                        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat magnam reprehenderit qui soluta laudantium quo eaque doloribus corrupti eos a quae sapiente ipsum eum repellendus esse tenetur facere possimus est quos, dolores quas. Adipisci, minus! Enim facilis consectetur quas rem! Sapiente sint, voluptate soluta corrupti ut dolorem quis fuga!'
                                    },
                                    {
                                        title: 'Lorem ipsum dolor sit amet.',
                                        text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ullam eos, iusto recusandae officiis quos sapiente. Aut vel nesciunt natus laudantium dicta modi tenetur illum? Accusamus aliquid culpa nisi obcaecati dolores possimus quis corporis, et facere quasi dignissimos, sunt itaque? Mollitia quasi debitis nisi accusantium? Quibusdam debitis accusantium earum id! Fugiat eligendi impedit nesciunt dolor odit obcaecati magnam cumque, nostrum earum commodi? Ipsa enim reprehenderit eos sequi esse deserunt tenetur iusto illo excepturi, repellendus sint sunt laboriosam beatae laborum reiciendis non quae temporibus debitis eum error aut et blanditiis necessitatibus? Nisi consectetur non, optio laboriosam itaque amet quibusdam distinctio quos?'
                                    },
                                    {
                                        title: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit.',
                                        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tenetur facere possimus est quos, dolores quas. Adipisci, minus! Enim facilis consectetur quas rem! Sapiente sint, voluptate soluta corrupti ut dolorem quis fuga!'
                                    },
                                ]})

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +accordion({collapse: true, items: [
                                        {
                                            title: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, sit?',
                                            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat magnam reprehenderit qui soluta laudantium quo eaque doloribus corrupti eos a quae sapiente ipsum eum repellendus esse tenetur facere possimus est quos, dolores quas. Adipisci, minus! Enim facilis consectetur quas rem! Sapiente sint, voluptate soluta corrupti ut dolorem quis fuga!'
                                        },
                                        {
                                            title: 'Lorem ipsum dolor sit amet.',
                                            text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo ullam eos, iusto recusandae officiis quos sapiente. Aut vel nesciunt natus laudantium dicta modi tenetur illum? Accusamus aliquid culpa nisi obcaecati dolores possimus quis corporis, et facere quasi dignissimos, sunt itaque? Mollitia quasi debitis nisi accusantium? Quibusdam debitis accusantium earum id! Fugiat eligendi impedit nesciunt dolor odit obcaecati magnam cumque, nostrum earum commodi? Ipsa enim reprehenderit eos sequi esse deserunt tenetur iusto illo excepturi, repellendus sint sunt laboriosam beatae laborum reiciendis non quae temporibus debitis eum error aut et blanditiis necessitatibus? Nisi consectetur non, optio laboriosam itaque amet quibusdam distinctio quos?'
                                        },
                                        {
                                            title: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit.',
                                            text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse tenetur facere possimus est quos, dolores quas. Adipisci, minus! Enim facilis consectetur quas rem! Sapiente sint, voluptate soluta corrupti ut dolorem quis fuga!'
                                        },
                                    ]})



                    //- SWIPER
                    .lib__heading(id='lib-swiper')
                        h1 Swiper
                        +btn({color: 'link'})(data-modal="#settings-swiper")
                            span Show settings
                    .lib__items
                        .lib__item.lib__item--full-width
                            h3.lib__desc Default
                            .lib__mixin
                                +swiper({icon: {name: '#ic-swiper-arrow', stroke: 'white', width: 48, height: 48}})(id='lib-swiper-1')
                                    +slide 
                                        img(src="../../assets/img/g1.jpg", alt="")
                                    +slide 
                                        img(src="../../assets/img/g2.jpg", alt="")
                                    +slide 
                                        img(src="../../assets/img/g3.jpg", alt="")

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    +swiper({icon: {name: '#ic-swiper-arrow', stroke: 'white', width: 48, height: 48}})(id='lib-swiper-1')
                                        +slide 
                                            img(src="../../assets/img/g1.jpg", alt="")
                                        +slide 
                                            img(src="../../assets/img/g2.jpg", alt="")
                                        +slide 
                                            img(src="../../assets/img/g3.jpg", alt="")
                    


                    //- DROPDOWN
                    .lib__heading(id='lib-dropdown')
                        h1 Dropdown
                        +btn({color: 'link'})(data-modal="#settings-dropdown")
                            span Show settings
                    .lib__items
                        .lib__item.lib__item--full-width
                            .lib__mixin
                                .lib__dropdown-wrapper
                                    .has-dropdown
                                        +btn({text: 'Dropdown', color: 'primary', ghost: true, size: 'sm'})
                                        +dropdown({fullWidth: true})
                                            ul
                                                li.dropdown__item
                                                    a.dropdown__link(href="#") Link
                                                li.dropdown__item.has-dropdown
                                                    .justify-content-between.dflex.full-width.align-items-center
                                                        a.dropdown__link(href="#") Link
                                                        +icon({name: '#ic-open', class: 'dropdown__icon', stroke: 'primary', width: 16, height: 16})
                                                    +dropdown({left: false})
                                                        ul
                                                            li.dropdown__item
                                                                a.dropdown__link(href="#") Sublink
                                                            li.dropdown__item
                                                                a.dropdown__link(href="#") Sublink
                                                            li.dropdown__item
                                                                a.dropdown__link(href="#") Sublink
                                                li.dropdown__item
                                                    a.dropdown__link(href="#") Link
                                                li.dropdown__item
                                                    a.dropdown__link(href="#") Link
                                br
                                br
                                br
                                   

                            .lib__actions
                                +btn({color: 'link', size: 'xs', class: 'code-show'}) Show
                                +btn({color: 'link', size: 'xs', class: 'code-copy'}) Copy
                                pre.
                                    .has-dropdown
                                        +btn({text: 'Dropdown', color: 'primary', ghost: true, size: 'sm'})
                                        +dropdown({
                                            fullWidth: false,
                                            items: [
                                            {
                                                title: 'RU',
                                                href: 'index.html'
                                            },
                                            {
                                                title: 'RO',
                                                href: 'index.html',
                                                dropdown: true,
                                                dropdownItems: [
                                                    {
                                                        title: 'drop 1',
                                                        href: 'drop1.html',
                                                        dropdown: true,
                                                        dropdownItems: [
                                                            {
                                                                title: 'drop 1',
                                                                href: 'drop1.html'
                                                            },
                                                            {
                                                                title: 'drop 2',
                                                                href: 'drop2.html'
                                                            },
                                                            {
                                                                title: 'drop 3',
                                                                href: 'drop3.html'
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        title: 'drop 2',
                                                        href: 'drop2.html'
                                                    },
                                                    {
                                                        title: 'drop 3',
                                                        href: 'drop3.html'
                                                    }
                                                ]
                                            },
                                            {
                                                title: 'EN',
                                                href: 'index.html'
                                            }
                                        ]})



block modal
    +modal({id: 'modal1'})
        h1 Simple modal
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ducimus sed adipisci animi, ipsam, quae at culpa veniam quas aliquid quibusdam accusamus praesentium nemo non, nihil incidunt modi ratione quidem id quasi facere. Architecto amet alias aspernatur, voluptas sed dignissimos pariatur? Non animi nihil, facere repudiandae dolores autem dolorem numquam vitae optio nemo quam illo veritatis ut dignissimos! Vero quia ducimus adipisci aliquam veritatis consequuntur quod, voluptatibus enim. Praesentium dignissimos est libero veritatis. Asperiores dolore rerum voluptates commodi modi fuga nulla iusto totam nemo perspiciatis qui hic beatae voluptatum amet quidem, ex minima labore illo. Pariatur possimus cupiditate repellendus animi.

    +modal({id: 'settings-buttons'})
        h1 Button Settings
        h3 PUG
                
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td text
                td String
                td Read More
                td Текст внутри кнопки
            tr
                td color
                td String
                td primary
                td Цвет иконки. Доступные значения: <code> primary, secondary, success, warning, danger, info, link  </code>

            tr
                td ghost
                td Boolean
                td false
                td Меняет тип кнопки на прозрачную с обводкой

            tr
                td disabled
                td Boolean
                td false
                td Делает кнопку деактивированной (клик по кнопке возвращает <code>false</code>)
            tr
                td icon
                td Object
                td null
                td Опции из миксина <code>+icon</code>. 
                    +btn({
                        dataModal: '#settings-icons',
                        size: 'xs',
                        color: 'link',
                        text: 'Icon settings'
                    })
            tr
                td iconGoLeft
                td Boolean
                td false
                td Ставит кнопку слева, текст справа
            tr
                td withIcon
                td Boolean
                td false
                td Ставится <code>true</code> если у кнопки должна быть иконка. Изменяет паддинги по бокам
            tr
                td iconOnly
                td Boolean
                td false
                td Если в кнопке есть только иконка и нет текста.
            tr
                td size
                td String
                td false
                td Размер иконки. Доступные значения: <code> xs, sm, lg </code>
            tr
                td dataModal
                td String
                td null
                td Указывается <code>id</code> модального окна. Ставится если кнопка должна открывать модальное окно. Модальное окно должно присутствовать на странице, иначе будет ошибка. Пример <code>'#modal1'</code>
            tr
                td animation
                td String
                td null
                td Добавляет анимаци. Доступные значения <code>ripple</code>
            tr
                td href
                td String
                td null
                td Делает кнопку ссылкой <code>a href="link.html"</code>
            tr
                td blank
                td Boolean
                td null
                td Добавляет ссылке <code>target="_blank" rel="nofollow noopener"</code>
            tr
                td align
                td String
                td null
                td Выравнивает кнопку по центру/правому краю.  Доступные значения <code>center, right</code>
            tr
                td nopadding
                td Boolean
                td false
                td Убирает <code>padding</code> и <code>background</code> с кнопки.
            tr
                td disabled
                td Boolean
                td false
                td Делает кнопку отключенной. Убирает все клики по кнопке
            tr
                td download
                td Boolean
                td false
                td Добавляет ссылке аттрибут<code>download</code>

    +modal({id: 'settings-icons'})
        h1 Icons Settings
        h3 PUG
    
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td name
                td String
                td null
                td <code>id</code> иконки. Пример: <code>name: #ic-close</code>
            tr
                td pos
                td String
                td null
                td Добавляет отступ слева или справа от иконки. Доступные значения: <code>left, right</code>
            tr
                td stroke
                td String
                td null
                td Цвет контура иконки. Доступные значения: <code> primary, secondary, success, warning, danger, info, link  </code>
            tr
                td fill
                td String
                td null
                td Цвет заливки иконки. Доступные значения: <code> primary, secondary, success, warning, danger, info, link  </code>
            tr
                td width
                td Number/String
                td null
                td Ширина иконки. Если ну указать тип значения, то по дефолту будут <code>px</code>. Если нужны другие значения, то надо обернуть их в кавычки: <code>width: '50%'</code>
            tr
                td height
                td Number/String
                td null
                td Высота иконки. Если ну указать тип значения, то по дефолту будут <code>px</code>. Если нужны другие значения, то надо обернуть их в кавычки: <code>width: '50%'</code>

    +modal({id: 'settings-forms'})
        h1 Forms Settings
        h3 PUG
        hr

        h4 Form  
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td title
                td String
                td 'This is form'
                td Заголовок формы 
            tr
                td button
                td Boolean
                td false
                td ??? Под вопросом... 
        
        br
        br
        h4 Form Group   
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td type
                td String
                td text
                td Устанавливает <code>type</code> для <code>input</code> тэга
            tr
                td required
                td Boolean
                td true
                td Добавляет аттрибут <code>required</code>
            tr
                td placeholder
                td String
                td null
                td Убирает анимацию с <code>input</code> полей и ставит обычный <code>placeholder</code> с текстом
            tr
                td text
                td String
                td null
                td Устанавливает текст для анимированного <code>label</code>
            tr
                td inRow
                td Boolean
                td false
                td ??? Под вопросом... 
            tr
                td minLength
                td Number
                td false
                td Добавляет аттрибут <code>data-min</code> для проверки на минимально допустимое кол-во символов в поле
            tr
                td maxLength
                td Number
                td false
                td Добавляет аттрибут <code>data-max</code> для проверки на масимально допустимое кол-во символов в поле
            tr
                td checked
                td Boolean
                td false
                td Добавляет аттрибут <code>checked</code> для <code>input(type="checkbox")</code>
            tr
                td checkboxText
                td Array
                td []
                td Добавляет текст для <code>input(type="checkbox")</code>
            tr
                td value
                td String
                td null
                td Добавляет аттрибут<code>value</code>
            tr
                td name
                td String
                td null
                td Добавляет аттрибут<code>name</code>. Полезен для <code>input(type="radio")</code>
            tr
                td checkedIndex
                td Number
                td 0
                td Добавляет аттрибут<code>checked</code> для первого элемента <code>input(type="radio")</code>
            tr
                td requiredRadios
                td Boolean
                td false
                td Добавляет проверку для группы <code>input(type="radio")</code>. Так же добавляет аттрибут <code>.form__group(data-radio-required)</code>.
            tr
                td noMargin
                td Boolean
                td false
                td Добавляет класс <code>form__group--no-margin</code>.
            tr
                td inputAttrs
                td Object
                td {}
                td Добавляет атрибуты для <code>input</code>.

        br
        br
        h4 Form Success 
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td text
                td String
                td 'Спасибо что вы с нами!'
                td Текст для успешной отправки формы 
                
    +modal({id: 'settings-accordion'})
        h1 Accordion Settings
        h3 PUG
        hr

        h4 Accordion  
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td collapse
                td Boolean
                td false
                td Устанваливает скрытие неактивных эллементов аккордиона
            tr
                td items
                td Array of objects
                td 'Some content'
                td Массив объектов для указания заголовка <code>title</code> и текст <code>text</code> для аккордиона. Пример: 
                    pre.
                        items: [
                            {
                                title: 'Some title',
                                text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, architecto?'
                            },
                            {
                                title: 'Some title 2',
                                text: 'Lorem 2 ipsum dolor sit amet consectetur adipisicing elit. Adipisci, architecto?'
                            } 
                        ]
    +modal({id: 'settings-tabs'})
        h1 TAB-s Settings
        h3 PUG
        hr

        h4 Tab  
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td hasScrollingTabBtns
                td Boolean
                td true
                td Устанваливает горизонтальную прокрутку кнопок смены контента
            tr
                td tabBtns
                td Array of objects
                td 'Some content'
                td Массив объектов для указания класса <code>class</code>, цвета <code>color</code> и текста <code>span</code> кнопки смены контента. Важно: для активной кнопки добавлять класс <code>'.js-tab-active'</code> Пример: 
                    pre.
                        tabBtns: [
                            {
                                class: 'tab-btns__toggle-tab js-tab-active',
                                color: 'primary',
                                span: 'Btn1'  
                            },
                            {
                                class: 'tab-btns__toggle-tab',
                                color: 'secondary',
                                span: 'Btn2'  
                            },
                            {
                                class: 'tab-btns__toggle-tab',
                                color: 'info',
                                span: 'Btn3'  
                            },
                            {
                                class: 'tab-btns__toggle-tab',
                                color: 'warning',
                                span: 'Btn4'  
                            }
                        ] 
        

        h4 Tab Item
        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td class
                td string
                td 'js-tab-active'
                td Устанваливает класс для активного элемента с контентом      
        
    +modal({id: 'settings-swiper'})
        h1 Swiper Settings
        h3 PUG
        hr

        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td icon
                td Object
                td null
                td Опции из миксина <code>+icon</code>. 
                    +btn({
                        animation: 'ripple',
                        dataModal: '#settings-icons',
                        size: 'xs',
                        color: 'link',
                        text: 'Icon settings'
                    })
            tr
                td pagination
                td Boolean
                td true
                td Добавляет пагинацию


    +modal({id: 'settings-scroll-x'})
        h1 Scroll-x Settings
        h3 PUG
        hr

        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td elms
                td Array of objects
                td null
                td Массив объектов для указания класса <code>class</code>, цвета <code>color</code> и текста <code>span</code> кнопки. Пример: 
                    pre.
                        tabBtns: [
                            {
                            class: 'scroll-x__btn',
                            color: 'primary',
                            span: 'Btn1'  
                            },
                            {
                            class: 'scroll-x__btn',
                            color: 'secondary',
                            span: 'Btn2'  
                            },
                            {
                            class: 'scroll-x__btn',
                            color: 'info',
                            span: 'Btn3'  
                            },
                            {
                            class: 'scroll-x__btn',
                            color: 'warning',
                            span: 'Btn4'  
                            },
                            {
                            class: 'scroll-x__btn',
                            color: 'danger',
                            span: 'Btn5'  
                            },
                        ]
           
    +modal({id: 'settings-dropdown'})
        h1 Dropdown Settings
        h3 PUG

        table(style='width:100%')
            tr
                th Опция
                th Тип
                th Дефолт
                th Описание
            tr
                td items
                td Array of Objects
                td []
                td Массив объектов для указания заголовка <code>title</code>, ссылки <code>text</code> и вложенного <code>dropdown</code>. Пример: 
                    pre.
                        items: [
                            {
                                title: 'RU',
                                href: 'index.html'
                            },
                            {
                                title: 'RO',
                                href: 'index.html',
                                dropdown: true,
                                dropdownItems: [
                                    {
                                        title: 'drop 1',
                                        href: 'drop1.html',
                                        dropdown: true,
                                        dropdownItems: [
                                            {
                                                title: 'drop 1',
                                                href: 'drop1.html'
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
            tr
                td left
                td Boolean
                td false
                td Перемещает <code>dropdown</code> влево.
            tr
                td itemClass
                td String
                td null
                td Добавляет класс для <code>.dropdown__item</code>.
            tr
                td fullWidth
                td Boolean
                td false
                td Устанавливает ширину <code>dropdown</code> на 100% от родительского контейнера.
