// @import '../../scss/_var.scss';
// @import '../../scss/_mixins.scss';
// @import '../../scss/_settings.scss';



.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: map-get($btn, fontSize);
    border-radius: map-get($btn, borderRadius);
    padding: map-get($btn, padding);
    min-width: map-get($btn, minWidth);
    background: $color-primary;
    border: 1px solid $color-primary;
    font-weight: map-get($btn, fontWeight);;
    color: #fff;
    // overflow: hidden;
    cursor: pointer;
    transition: 1s ease;
    text-transform: uppercase;

    @include mq($sm) {
        font-size: map-get($btn, fontSizeSM);
    }

}


.btn-icon-only {
    padding: map-get($btn, paddingIconOnly);
    min-width: auto;

    &.btn-ghost-primary,
    &.btn-ghost-secondary,
    &.btn-ghost-success,
    &.btn-ghost-warning,
    &.btn-ghost-danger {
        &:hover {
            [class*='stroke'] {
                stroke: $color-w;
            }
        }
        
    }

    img {
        width: auto;
    }

}

.btn-ghost-primary {
    background: transparent;
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        color: $color-white;
        background: $color-primary;
    }
}

.btn-ghost-success {
    background: transparent;
    color: $color-success;
    border-color: $color-success;

    &:hover {
        color: $color-white;
        background: $color-success;
    }
}

.btn-ghost-secondary {
    color: $color-secondary;
    background: transparent;
    border-color: $color-secondary;

    &:hover {
        color: $color-white;
        background: $color-secondary;
    }
}

.btn-ghost-warning {
    color: $color-warning;
    background: transparent;
    border-color: $color-warning;

    &:hover {
        color: $color-white;
        background: $color-warning;
    }
}

.btn-ghost-danger {
    color: $color-danger;
    background: transparent;
    border-color: $color-danger;

    &:hover {
        color: $color-white;
        background: $color-danger;
    }
}

.btn-ghost-info {
    color: $color-info;
    background: transparent;
    border-color: $color-info;

    &:hover {
        color: $color-white;
        background: $color-info;
    }
}

.btn--primary {
    color: $color-white;
    background: $color-primary;
    border: none;

    &:hover {
        background: darken($color-primary, 10%);
        border-color: darken($color-primary, 20%);

        .icon {
            stroke: #fff !important;
        }

        .icon--fill {
            fill: #fff !important;
        }
    }
    
}

.btn--secondary {
    color: $color-white;
    background: $color-secondary;
    border: none;

    &:hover {
        background: darken($color-secondary, 10%);

        .icon {
            stroke: #fff !important;
        }

        .icon--fill {
            fill: #fff !important;
        }
    }
}

.btn--success {
    color: $color-white;
    background: $color-success;
    border: none;

    &:hover {
        background: darken($color-success, 20%);

        .icon {
            stroke: #fff !important;
        }

        .icon--fill {
            fill: #fff !important;
        }
    }
}

.btn--warning {
    color: $color-white;
    background: $color-warning;
    border: none;

    &:hover {
        background: darken($color-warning, 10%);
    }
}

.btn--danger {
    color: $color-white;
    background: $color-danger;
    border: none;

    &:hover {
        background: darken($color-danger, 20%);
        
        .icon {
            stroke: #fff !important;
        }

        .icon--fill {
            fill: #fff !important;
        }
    }
}

.btn--info {
    color: $color-white;
    background: $color-info;
    border: none;

    &:hover {
        background: darken($color-info, 20%);

        .icon {
            stroke: #fff !important;
        }

        .icon--fill {
            fill: #fff !important;
        }
    }
}

.btn--link {
    color: $color-primary;
    background: transparent;
    border: none;
    padding: map-get($btn, paddingLink);
    min-width: map-get($btn, minWidthLink);

    &:hover {
        background: rgba(#000, .05);
        color: darken($color-link, 10%);
    }
}

.btn--nopadding {
    padding: 0;
    min-width: auto;

    &:hover {
        background: transparent;
        color: darken($color-link, 10%);
    }
}

.btn--lg {
    font-size: map-get($btn, fontSize) * 1.2;
}

.btn--sm {
    font-size: map-get($btn, fontSizeSM);
    padding: map-get($btn, paddingSM);
    min-width: map-get($btn, minWidthSM);
}

.btn--xs {
    font-size: map-get($btn, fontSize) / 1.4;
}

.btn--reverse {
    flex-flow: row-reverse;
}

.btn-border {
    border-radius: 8px;
}

.btn-ghost-cont {
    .btn {
        margin: 0 20px;
    }
}

.btn-color-cont {
    margin: 40px 0;

    .btn {
        margin: 0 20px;
    }
}

.btn-lg-cont {
    flex-direction: row;

    .btn {
        margin: 20px;
    }
}

.btn-sm-cont {
    flex-direction: row;

    .btn {
        margin: 20px;
    }
}

.btn--disabled {
    background: $color-disabled;
    border-color: $color-disabled;
    cursor: no-drop;

    &:hover {
        background: lighten($color-disabled, 10);
        border-color: lighten($color-disabled, 10);
    }
}

.btn--center {
    justify-content: center;
}

.btn--right {
    justify-content: flex-end;
}

.btn--link-center {
    display: flex
}


.btn--ripple {
    width: 300px;
    height: 300px;
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    transform: scale(0);
    animation: ripple 1s ease-out;
}


/*animation effect*/

@keyframes ripple {
    0% {
        opacity: 0;
    }

    40% {
        opacity: .4;
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.btn--preload {
    > * {
        transition: .3s ease;
        transform: translateY(-100%);
        opacity: 0;
    }

    &:before {
        content: '';
        width: 1.4em;
        height: 1.4em;
        border-radius: 50%;
        border: 2px dotted white;
        position: absolute;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        margin: auto;
        transform-origin: center;
        opacity: 0;
        animation: appear 1s ease forwards,
                    preloader 3s linear infinite;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes preloader {
    0% {
        transform: translateY(0) rotate(0);
    }

    to {
        transform: translateY(0) rotate(360deg);
    }
}