mixin iframe(config)
    -
        const defaults = {
            type: 'map', // 'map', 'video'
            //- src: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25874.14272473526!2d28.762582606125253!3d47.026802867478224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97dfd1912016b%3A0xc3f3090fa8fa2774!2zU3RyYWRhIFR1ZG9yIFZsYWRpbWlyZXNjdSwgRHVybGXImXRpLCDQnNC-0LvQtNCw0LLQuNGP!5e0!3m2!1sru!2s!4v1538132606766', 
            src: 'https://www.youtube.com/embed/hPC2Fp7IT7o',  // for video
            paused: false,
            title: 'Найдите нас на карте'
        }
    
    -   const params = Object.assign({}, defaults, config)

    
    .iframe(class={ 'iframe--map' : params.type =='map'})&attributes(attributes)
        if params.type == 'video'
            iframe(class="video-iframe", data-src=params.src, data-paused= params.paused, allow='autoplay; encrypted-media', allowfullscreen='')
        else if params.type == 'map'
            iframe(class="map-iframe", src=params.src style="border:0" allowfullscreen title=params.title)
