.iframe {
    position: relative;
    width: 90vw;
    max-width: 1100px;
    padding-bottom: 42.25%;
    border: none;
}

.iframe--map {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0;
}

.map-iframe,
.video-iframe {
    width: 100%;
    height: 100%;
}

.video-iframe {
    position: absolute;
    left: 0;
    top: 0;   
}
