@font-face {
  font-family: $fontFamily;
  src: url('../assets/fonts/latomedium.ttf') format('truetype'),
    url('../assets/fonts/latomedium.woff') format('woff'),
    url('../assets/fonts/latomedium.woff2') format('woff2');
  font-weight: $font-light;
  font-display: swap;
}

@font-face {
  font-family: $fontFamily;
  src: url('../assets/fonts/latobold.ttf') format('truetype'),
    url('../assets/fonts/latobold.woff') format('woff'),
    url('../assets/fonts/latobold.woff2') format('woff2');
  font-weight: $font-bold;
  font-display: swap;
}

@font-face {
  font-family: $fontFamily;
  src: url('../assets/fonts/latoregular.ttf') format('truetype'),
    url('../assets/fonts/latoregular.woff') format('woff'),
    url('../assets/fonts/latoregular.woff2') format('woff2');
  font-weight: $font-reg;
  font-display: swap;
}

// @font-face {
//   font-family: $fontFamilyAlt;
//   src: url('../assets/fonts/Roboto-Regular.woff') format('woff'),
//        url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
//   font-weight: normal;
//   font-display: swap;
// }