// Settings
$container: 1200px;
$containerLg: 1600px;
$containerMd: 900px;
$containerSm: 700px;
$columns: 12;
$gap: 15px; // не должно быть больше 25рх


// Styles
.container {
    margin: 0 auto;
    padding: 0 $gap;
    max-width: $container;
}

.container--short {
    max-width: $containerSm;
}

.container--medium {
    max-width: $containerMd;
}

.container--large {
    max-width: $containerLg;
}

.container--full {
    max-width: none;
}

// .row{
//     display: flex;
//     flex-wrap: wrap;    
//     margin-left: -$gap;
//     margin-right: -$gap;    
// }


// @for $i from 1 through $columns {
//     .col-#{$i}{
//         $test: percentage( $i/$columns );       
//         width: calc( #{$test} - #{$gap}*2 );
//         margin: 0 #{$gap};
//     }
//     .col-#{$i}-#{$containerShortColumns}{
//         $test: percentage( $i/$containerShortColumns );       
//         width: calc( #{$test} - #{$gap}*2 );
//         margin: 0 #{$gap};
//     }
//     .col-#{$i}-#{$containerMediumColumns}{
//         $test: percentage( $i/$containerMediumColumns );       
//         width: calc( #{$test} - #{$gap}*2 );
//         margin: 0 #{$gap};
//     }
//     .col-#{$i}-#{$containerLargeColumns}{
//         $test: percentage( $i/$containerLargeColumns );        
//         width: calc( #{$test} - #{$gap}*2 );
//         margin: 0 #{$gap};
//     }
// }

// @each $bp, $size in $breakpoints{
//     @media (max-width: $size + px){
//         @for $i from 1 through $columns {
//             .col-#{$bp}-#{$i}{
//                 $test: percentage( $i/$columns );      
//                 width: calc( #{$test} - #{$gap}*2 );
//                 margin: 0 #{$gap};
//             }
//             .col-#{$bp}-#{$i}-#{$containerShortColumns}{
//                 $test: percentage( $i/$containerShortColumns ); 
//                 width: calc( #{$test} - #{$gap}*2 );
//                 margin: 0 #{$gap};
//             }
//             .col-#{$bp}-#{$i}-#{$containerMediumColumns}{
//                 $test: percentage( $i/$containerMediumColumns );      
//                 width: calc( #{$test} - #{$gap}*2 );
//                 margin: 0 #{$gap};
//             }
//             .col-#{$bp}-#{$i}-#{$containerLargeColumns}{
//                 $test: percentage( $i/$containerLargeColumns );   
//                 width: calc( #{$test} - #{$gap}*2 );
//                 margin: 0 #{$gap};
//             }
//         }
//     }
// }