@import 'var.scss';

// Extends
@each $bp, $val in $breakpoints {
    .hidden-#{$bp} {
        @media (max-width: #{$val}px) {
            display: none !important;
        }
    }
}

@each $bp, $val in $breakpoints-mf {
    .hidden-#{$bp} {
        @media (min-width: #{$val}px) {
            display: none !important;
        }
    }
}



.divider {
    width: 100%;
    height: 1px;
    background: $color-grey-2;
    margin-top: 10px;
    margin-bottom: 10px;

    &--short {
        width: 100px;
        height: 2px;
        background: $color-black;
    }
}





.no-bg {
    background: none !important;
}


.no-padding {
    padding: 0 !important;
}




// Width
.full-width {
    width: 100%;
}



// Flex
.dflex {
    display: flex;
}



.overflow-hidden {
    overflow: hidden;
}


//text 

.text--short {
    // set max-width to this element and set title in markup
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
}

