// Grid mixins
@mixin row() {
    display: flex;
    flex-wrap: wrap;   
    margin-left: -$gap;
    margin-right: -$gap;
}

@mixin row-dir-xxxl($dir: row) {
    @media (max-width: #{$xxxl}px) {       
        flex-direction: $dir;
    }
}
@mixin row-dir-xxl($dir: row) {
    @media (max-width: #{$xxl}px) {       
        flex-direction: $dir;
    }
}
@mixin row-dir-xl($dir: row) {
    @media (max-width: #{$xl}px) {       
        flex-direction: column;
    }
}
@mixin row-dir-lg($dir: row) {
    @media (max-width: #{$lg}px) {       
        flex-direction: $dir;
    }
}
@mixin row-dir-md($dir: row) {
    @media (max-width: #{$md}px) {       
        flex-direction: $dir;
    }
}
@mixin row-dir-sm($dir: row) {
    @media (max-width: #{$sm}px) {       
        flex-direction: $dir;
    }
}
@mixin row-dir-xs($dir: row) {
    @media (max-width: #{$xs}px) {       
        flex-direction: $dir;
    }
}


@mixin justify-content-xxxl($pos: flex-start){
    @media (max-width: #{$xxxl}px){
        justify-content: $pos;
    }
}
@mixin justify-content-xxl($pos: flex-start){
    @media (max-width: #{$xxl}px){
        justify-content: $pos;
    }
}
@mixin justify-content-xl($pos: flex-start){
    @media (max-width: #{$xl}px){
        justify-content: $pos;
    }
}
@mixin justify-content-lg($pos: flex-start){
    @media (max-width: #{$lg}px){
        justify-content: $pos;
    }
}
@mixin justify-content-md($pos: flex-start){
    @media (max-width: #{$md}px){
        justify-content: $pos;
    }
}
@mixin justify-content-sm($pos: flex-start){
    @media (max-width: #{$sm}px){
        justify-content: $pos;
    }
}
@mixin justify-content-xs($pos: flex-start){
    @media (max-width: #{$xs}px){
        justify-content: $pos;
    }
}

@mixin align-items-xxxl($pos: flex-start){
    @media (max-width: #{$xxxl}px){
        align-items: $pos;
    }
}
@mixin align-items-xxl($pos: flex-start){
    @media (max-width: #{$xxl}px){
        align-items: $pos;
    }
}
@mixin align-items-xl($pos: flex-start){
    @media (max-width: #{$xl}px){
        align-items: $pos;
    }
}
@mixin align-items-lg($pos: flex-start){
    @media (max-width: #{$lg}px){
        align-items: $pos;
    }
}
@mixin align-items-md($pos: flex-start){
    @media (max-width: #{$md}px){
        align-items: $pos;
    }
}
@mixin align-items-sm($pos: flex-start){
    @media (max-width: #{$sm}px){
        align-items: $pos;
    }
}
@mixin align-items-xs($pos: flex-start){
    @media (max-width: #{$xs}px){
        align-items: $pos;
    }
}

@mixin col {
    margin-left: $gap;
    margin-right: $gap;
}

@mixin size($col: 12){
    $percent: percentage($col / 12);
    width: calc( #{$percent} - #{$gap * 2} );
}
@mixin size-xxxl($col: 12){
    @media (max-width: #{$xxxl}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
@mixin size-xxl($col: 12){
    @media (max-width: #{$xxl}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
@mixin size-xl($col: 12){
    @media (max-width: #{$xl}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
@mixin size-lg($col: 12){
    @media (max-width: #{$lg}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
@mixin size-md($col: 12){
    @media (max-width: #{$md}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
@mixin size-sm($col: 12){
    @media (max-width: #{$sm}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
@mixin size-xs($col: 12){
    @media (max-width: #{$xs}px){
        $percent: percentage($col / 12);
        width: calc( #{$percent} - #{$gap * 2} );
    }
}
// End: Grid mixin



// Trasnition
@mixin trs($time: .3s, $delay: 0s) {
    transition: $time ease;
    transition-delay: $delay;
}


// Before / After
@mixin befaf() {
    content: '';
    display: block;
    position: absolute;
}



// Border radius
@mixin bdrs($r: 4px) {
    border-radius: $r;
}

// Media query (desktop first)
@mixin mq($bp){
    @media (max-width: #{$bp}px){
        @content;
    }
}

// Media query (mobile first)
@mixin mq-up($bp){
    @media (min-width: #{$bp}px){
        @content;
    }
}

@mixin res($dpi, $dppx){
    @media (min-resolution: #{$dpi}dpi),
            (min-resolution: #{$dppx}dppx){
        @content;
    }
}


// Responsive magic =D
@mixin resp-magic($param, $map){
    @each $key, $val in $map {
        @if ($key == 'def') {
            #{$param}: $val;
        } @else {
            @include mq($key){
                #{$param}: $val;
            }
        }
    }
}


@function prepend($list, $value) {
	@return join($value, $list);
}

// Some magic ^_^
@mixin some-magic($param){
    @each $key, $val in $param{
        
        @if type-of($val) == 'map' and $key != hover  {     // If value has map and is NOT hover
            @include mq($key){
                @each $rule, $value in $val{
                    #{$rule} : $value;
                }
            }

        } @else if $key != hover  {                         // If not hover and not map
            #{$key}: $val;
        };

        @if $key == hover {                                 // If :hover
            &:hover{
                @each $keyInner, $valInner in $val{
                    @if type-of($valInner) == 'map'  {
                        @include mq($keyInner){
                            @each $rule, $value in $valInner{
                                #{$rule} : $value;
                            }
                        }

                    } @else {
                        #{$keyInner}: $valInner;
                    };
                }
            }
        } 
    }
}





// CSS шлюз
@mixin gateway($start, $end,  $min: 576, $max: 960, $type: font-size) {
    $m: ($start - $end) / ($max - $min); //0,09375
    $b: $end - $m * $min; // 30
    $y: $m + $b;

    @media  (min-width: #{$min}px){
      #{$type}: calc( #{$m} * 100vw + #{$b}px );
    }

    @media (max-width: #{$min - 1}px){
        #{$type}: #{$end}px;
    }

    @media  (min-width: #{$max}px){
        #{$type}: #{$start}px;
    }
}