// FORMS
$form: (
	checkboxWidth: 20px,
	checkboxHeight: 20px,
	colorCheckRadioDef: $color-grey-2,
	colorCheckRadio: $color-warning,
	bgcolor: $color-w,
	bgcolorHover: #fff,
	bdcolor: $color-grey-2,
	inputPadding: .5em 1em,
	iconSize: 1.3em,
	fontSize: 16px
);

// BUTTONS
$btn: (
	fontSize: 14px,
	fontSizeSM: 12px,
	borderRadius: 3px,
	padding: 1em 3em,
	minWidth: 13.25em,
	minWidthLink: auto,
	paddingIconOnly: 1em,
	paddingWithIcon: 1em 1.5em,
	paddingLink: .5em 1.5em
);

// TYPOGRAPHY
$p: (
	font-size: 16px,
	line-height: 2.4,
	$sm: (font-size: 14px, line-height: 2)
);

$a: (
	font-size: 16px,
	line-height: 2.4,
	color: $color-primary,
	hover: (background-color: $color-grey-0),
	$sm: (font-size: 14px, line-height: 2)
);

$ul: (
	font-size: 16px,
	line-height: 2.4,
	color: $color-black,
	padding-left: 3em,
	$sm: (font-size: 14px, line-height: 2)
);

$titles: (
	title:
		(
			font-size: 48px,
			line-height: 1.6,
			color: $color-black,
			$lg: (font-size: 40px, line-height: 1.2),
			$xl: (font-size: 100px, line-height: 1.2),
			$sm: (font-size: 30px, line-height: 1.2),
		),
	title--lg:
		(
			font-size: 64px,
			line-height: 1.6,
			color: $color-black,
			$sm: (font-size: 56px, line-height: 1.2)
		),
	title--sm:
		(
			font-size: 32px,
			line-height: 1.6,
			color: $color-black,
			$sm: (font-size: 24px, line-height: 2)
		),
	title--xs:
		(
			font-size: 24px,
			line-height: 1.6,
			color: $color-black,
			$sm: (font-size: 16px, line-height: 2)
		),
);

$subtitles: (
	subtitle:
		(
			font-size: 32px,
			line-height: 1.6,
			color: $color-black,
			font-weight: $font-bold,
			$sm: (font-size: 24px, line-height: 1.2)
		),
	subtitle--lg:
		(
			font-size: 40px,
			line-height: 1.6,
			color: $color-black,
			font-weight: $font-bold,
			$sm: (font-size: 32px, line-height: 1.2)
		),
	subtitle--sm:
		(
			font-size: 24px,
			line-height: 1.6,
			color: $color-black,
			font-weight: $font-bold,
			$sm: (font-size: 19px, line-height: 1.2)
		),
	subtitle--xs:
		(
			font-size: 16px,
			line-height: 1.6,
			color: $color-black,
			font-weight: $font-bold,
			$sm: (font-size: 14px, line-height: 1.2)
		)
);

$headings: (
	h1:
		(
			font-size: 32px,
			line-height: 1.4,
			$sm: (font-size: 24px, line-height: 1.2)
		),
	h2:
		(
			font-size: 24px,
			line-height: 1.4,
			$sm: (font-size: 18px, line-height: 1.2)
		),
	h3: (
		line-height: 1.4, 
		$sm: (
				font-size: 16px, 
				line-height: 1.2
			)
		),
	h4:
		(
			font-size: 16px,
			line-height: 1.4,
			$sm: (font-size: 13px, line-height: 1.2)
		)
);
