// Typography styles
@import './_settings.scss';

// Create headings h1-h4
@each $tag, $map in $headings {
    #{$tag} {
        @include some-magic($map);
    }
}

p {
    @include some-magic($p);

    &:last-child {
        margin-bottom: 0;
    }
}

// This rule already exist in reboot.scss
// a{
//     text-decoration: none;

//     &:hover{
//         text-decoration: none;
//     }
// }


ul {
    margin: 0;
    padding: 0;
    list-style: none;

    @include mq($md) {
        font-size: 14px;
        line-height: 1.6;
        font-weight: normal;
    }
}


.static {
    a {
        @include trs;
        @include some-magic($a);
        text-decoration: none;
        padding: 0 .2em;
        margin-left: -.2em;
        margin-right: -.2em;
    }

    ul {
        @include some-magic($ul);
        list-style-type: disc;
    }

    ol {
        @include some-magic($ul);
        counter-reset: item;

        li {
          display: block;

          &:before {
            content: counters(item, '.') ' ';
            counter-increment: item;
          }
        }
    }
}


// Create titles
@each $tag, $map in $titles {
    .#{$tag} {
        @include some-magic($map);
    }
}

// Create subtitles
@each $tag, $map in $subtitles {
    .#{$tag} {
        @include some-magic($map);
    }
}


.text--sm {
    font-size: .75rem;
}

.text--lg {
    font-size: 1.5rem;
}


// Align
.align--center {
    text-align: center;
}

.align--left {
    text-align: left;
}

.align--right {
    text-align: right;
}

@each $bp, $val in $breakpoints {
    .align--center-#{$bp} {
        @media (max-width: #{$val}px) {
            text-align: center;
        }
    }

    .align--left-#{$bp} {
        @media (max-width: #{$val}px) {
            text-align: left;
        }
    }

    .align--right-#{$bp} {
        @media (max-width: #{$val}px) {
            text-align: right;
        }
    }
}

@each $bp, $val in $breakpoints-mf {
    .text--center-#{$bp} {
        @media (min-width: #{$val}px) {
            text-align: center;
        }
    }

    .text--left-#{$bp} {
        @media (min-width: #{$val}px) {
            text-align: left;
        }
    }

    .text--right-#{$bp} {
        @media (min-width: #{$val}px) {
            text-align: right;
        }
    }
}