$fontFamily:    'Montserrat';
// $fontFamilyAlt:    'Montserrat';
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-bold: 700;



// Colors
$color-black:       #202020;
$color-white:       #ffffff;
$color-w:           $color-white;
$color-primary:     #1464db;
$color-secondary:   #9c27b0;
$color-success:     #5cb85c;
$color-warning:     #f0ad4e;
$color-danger:      #c12e2a;
$color-info:        #31b0d5;
$color-link:        #014c8c;
$color-grey-0:      #F1F5F7;
$color-grey-1:      #cacaca;
$color-grey-2:      #a3a3a3;
$color-grey-3:      #737A80;
$color-disabled:     $color-grey-2;


// Grid
$gap: 15px;

// Breakpoints
$xxxl: 1440;
$xxl: 1366;
$xl: 1200;
$lg: 991;
$md: 768;
$sm: 580;
$xs: 420;

$breakpoints: (
    xxxl: $xxxl,
    xxl: $xxl,
    xl: $xl,
    lg: $lg,
    md: $md,
    sm: $sm,
    xs: $xs
);

// retina

$dpi: 144;
$dppx: 1.5;




$xxxl-up: $xxxl + 1;
$xxl-up: $xxl + 1;
$xl-up: $xl + 1;
$lg-up: $lg + 1;
$md-up: $md + 1;
$sm-up: $sm + 1;
$xs-up: $xs + 1;

$breakpoints-mf: (
    xxl-up: $xxl-up,
    xl-up: $xl-up,
    lg-up: $lg-up,
    md-up: $md-up,
    sm-up: $sm-up,
    xs-up: $xs-up
);


// Nav breakpoint
$toggleBreakpoint: $lg;