@import 'var';
@import 'mixins';

* {
    box-sizing: border-box;
    // outline: 1px solid red;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    background: transparent;

    font-family: $fontFamily;
    font-weight: normal;
    background: transparent;
}

body {
    display: flex; // For sticky footer
    flex-direction: column; // For sticky footer

    // Fix fonts crossbrowser
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    // -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;

    // Scrolbar styles
    &::-webkit-scrollbar {
        background-color: rgba(#000, .1);
        border: 1px solid #eee;
        width: 12px;

    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        // background-color: rgba(#000, .5)
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color: #afafaf;
        border-radius: 15px;
        border: 2px solid #eee;
    }

    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
        display: none
    }
}



main {
    min-height: 100vh;

    flex: 1; // For sticky footer

    padding-top: 100px; // Header height compensation

    &.overflow-hidden {
        overflow: hidden;
        max-height: 100vh;
    }
}


// img {
//     width: 100%;
// }


table {
    font-size: 14px;

    tr,
    td,
    th {
        border: 1px solid $color-grey-2;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 5px 15px;
    }

    tr:nth-child(even) {
        background-color: $color-grey-0;
    }

    td {
        width: 10%;

        &:last-child {
            width: 70%;
        }
    }

    code,
    pre {
        background: #eee;
        padding-left: 5px;
        padding-right: 5px;
    }
}

// a{
//     @include trs;
//     color: $color-black;
//     text-decoration: none;

//     &:hover{
//         color: $color-primary;
//         text-decoration: none;
//     }
// }

// p{
//     font-size: 16px;
//     font-weight: 100;
//     line-height: 1.6;

//     @include mq($md){
//         font-size: 14px;
//         line-height: 1.6;
//         font-weight: normal;
//     }
// }


// ul{
//     margin: 0;
//     padding: 0;
//     list-style: none;

//     @include mq($md){
//         font-size: 14px;
//         line-height: 1.6;
//         font-weight: normal;
//     }
// }

button {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}





section {
    padding: 60px 15px;

    @include mq($lg) {
        padding: 50px 15px;
    }
}