.tab {
    width: 100%;
    margin-bottom: 20px;
}

.tab-btns {
    width: 100%;   
    // margin-bottom: 50px;
}

.toggle-tab {
    margin: 0 15px;

    &:active {
        align-self: center;
    }
}



.tab__container {
    position: relative;
    width: 100%;
    max-width: 960px;
    background-color: #ccc;   
    color: #333;
    border: 1px solid #000;
    overflow: hidden;
    transition: 1s ease;
    
}

.tab__item {
    position: absolute;
    padding: 10px;
    background-color: #ccc;
    width: 100%; 
    transform: translate(100%);
    transition: 1s ease-in;
    &.js-tab-active {
        position: relative;
        transform: translate(0);
        transition: 1s ease;
        z-index: 1;
    }
}

.tab-item .heading {
    font-size: 26px;
    color: #fff;
}

.other-place-tab-container {
    width: 100%;
}



// @media (max-width: '414px') {
//     .tab__container {
//         width: 100vw;
//     }

//     .tab__buttons {
//         display: flex;
//         justify-content: flex-start;
//         overflow-x: auto;
//     }
// }


