mixin tab(config)
    -
        const defaults = {
            hasScrollingTabBtns: true,
            tabBtns: null
        }
    
    -   const params = Object.assign({}, defaults, config)
    
    .tab&attributes(attributes)       
        if params.tabBtns
            +tab-btns(params)
            ul.tab__container#container
                block
        else
            block


mixin tab-btns(config)
    .tab-btns(class={'scroll-x' : config.hasScrollingTabBtns})
        if config.tabBtns
            each btn in config.tabBtns
                +btn({class: btn.class + ' scroll-x__item', color: btn.color})
                    span= btn.span
        else 
            block

mixin tab-item(config)
    if config
        li.tab__item(class= config.class)  
            block
    else
        li.tab__item
            block

       


