mixin dropdown-menu(config)    
    -
        var def = {
            items: [],  
            
            
        }
    -   var params = Object.assign({}, def, config)

    //- script
    //-     | var data = !{JSON.stringify(params)}
    //-     | console.log(data)

    //- ul
    //-     each item in params.items
    //-         li
    //-             a(href="")= item.name
    //-             if item.items
    //-                 +dropdown-menu({items: item.items})


    
    ul.drop__list
        each item in params.items
            li.drop__link(
                class= {
                    'hasDrop': item.hasDrop
                }
            )
                if item.hasDrop
                    a(href='#')= item.name
                       
                    span.icon
                        +ic2(params.icon)
                    
                    +dropdown-menu({items: item.items, icon: item.icon})
                    
                else
                    a(href="")
                        span= item.name
                
                        