mixin list(obj)
    - 
        var def = {
            special: true,
            itemsList: ['Item 1' , 'Item 2' , 'Item 3']
        }

    - var params = Object.assign({}, def, obj)

    script
        | var data = !{JSON.stringify(params)}
        | console.log(data)

    if params.itemsList && params.special
        nav.nav#nav
            .nav__list
                ul.nav__items
                    .nav__link-wrapper.isActive
                        each item in params.itemsList
                            li.nav__link: a(href='#')= item.title
    else if params.itemsList && !params.special
        nav.nav#nav
            .nav__list
                ul.nav__items
                    .nav__link-wrapper
                        each item in params.itemsList
                            li.nav__link: a(href='#')= item.title
    else
        nav.nav#nav
            .nav__list
                ul.nav__items
                    .nav__link-wrapper.isActive
                        each item in newList
                            li.nav__link: a(href='#')= item
        

                            
               


