mixin dropdown(opts)
    //- - var items = arr || []
    -
        var def = {
            items: [
                {
                    title: 'Test item',
                    href: '#',
                    itemClass: null,
                },
                {
                    title: 'Test item',
                    href: '#',
                    itemClass: null,
                },
                {
                    title: 'Test item',
                    href: '#',
                    itemClass: null,
                    dropdown: [
                        {
                            title: 'Test item',
                            href: '#',
                            itemClass: null,
                        },
                        {
                            title: 'Test item',
                            href: '#',
                            itemClass: null,
                        },
                        {
                            title: 'Test item',
                            href: '#',
                            itemClass: null,
                        }
                    ]
                }
            ], 
            left: false, 
            itemClass: null,
            fullWidth: false,
            icon: {
                name: '#ic-open',
                stroke: 'current',
                width: 16,
                height: 16
            } 
        }

    - var params = Object.assign({}, def, opts)

    .dropdown(
        class= {
            'dropdown--full-width': params.fullWidth,
            'dropdown--left': params.left
        }
    )&attributes(attributes)
        ul.dropdown__list
            each item in params.items
                li.dropdown__item(class= {
                    'has-dropdown': item.dropdown
                } class= params.itemClass)

                    if !item.dropdown
                        a.dropdown__link(href=item.href)
                            span= item.title
                        
                    else
                        .dropdown__link
                            a(href=item.href)= item.title
                            +icon(params.icon)
                        
                        +dropdown({
                            items: item.dropdown,
                            left: item.left
                        })



//- script
//-     | var data = !{JSON.stringify(stream.species)};
//-     | console.log(data)