$breakpoint: $toggleBreakpoint; // is in var.scss
$item-padding: .75em .5em;
$animSpeed: .3s;
$animStagger: .06;
$staggerMaxItems: 16;
$minWidth: (
    def: 230px,
    $md: auto
);
$maxHeight: none;


.dropdown {
    @include resp-magic(min-width, $minWidth);
    @include bdrs;

    // border: 1px solid $color-grey-0;
    background: #fff;
    box-shadow: 0 10px 20px rgba(#000, .1);

    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;

    transition: $animSpeed ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    pointer-events: none;

    .has-dropdown {
        .dropdown {
            left: 100%;
            right: auto;
            top: 0;
            padding: 0;
        }

        .dropdown--left {
            right: 100%;
            left: auto;
        }

        .dropdown__icon {
            transform: rotate(-90deg) translateX(50%);
        }

        @include mq($breakpoint) {
            .dropdown {
                left: 0;
                right: auto;
                top: 0;
                padding: 0;
            }

            .dropdown--left {
                right: 0;
                left: auto;
            }

            .dropdown__icon {
                transform: translateY(-50%);
            }
        }

        
    }

    &--left {
        left: auto;
        right: 100%;
    }

    @include mq($breakpoint) {
        position: relative;
        width: 100%;
        max-height: 0;
        box-shadow: none;
    }
}

.dropdown--full-width {
    width: 100%;
}

.dropdown__item {
    transition: opacity .5s ease,
                transform .5s ease,
                background .5s ease;

    transform: translateY(15px);
    opacity: 0;

    @for $i from 1 to $staggerMaxItems {
        &:nth-child( #{$i} ) {
            transition-delay: $i * $animStagger + s, $i * $animStagger + s, 0s;
        }
    }

    // &:hover{
    //     background: $color-grey-0;
    // }
}

.has-dropdown {
    position: relative;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .has-dropdown {
        display: flex;
        justify-content: space-between;

        // .dropdown__icon{
        //     position: absolute;
        //     right: 0;
        //     top: 50%;
        //     transform: translateY(-50%) rotate(-90deg);
            
            
        //     @include mq($breakpoint){
        //         top: .2em;
        //         right: .2em;
        //         transform: none;
        //     }
        // }
    }

    &.open {
        > .dropdown {
            opacity: 1;
            visibility: visible;
            transform: none;
            pointer-events: all;
            // max-height: 500px;  // This value came from JS

            > .dropdown__list > .dropdown__item {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        > .dropdown__link .dropdown__icon {
            transform: scaleY(-1) translateY(50%);
        }
    }

    @include mq-up($lg) {
        &:hover {
            > .dropdown {
                opacity: 1;
                visibility: visible;
                transform: none;
                pointer-events: all;

                > .dropdown__list > .dropdown__item {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }
    
}

.dropdown__icon {
    @include trs(.5s);
    right: 0;
    position: relative;
    z-index: 1;
    // transform-origin: 50% 50%;
    // top: 50%;
    // transform: translateY(-50%);

    &.open {
        transform: scaleY(-1);
    }    
}

.dropdown__link {
    @include trs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: currentColor;

    width: 100%;
    padding: $item-padding;

    a {
        color: currentColor;
    }

    &:hover {
        background: $color-grey-0;
    }
}
