include ../mixins.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document 2333
        link(rel="stylesheet", href="css/common.css")
    body
        //- -
            var data = {
                items: [
                    {
                        name: 'item 1',
                    }, 
                    {
                        name: 'item 2',
                        items: [
                            {
                                name: 'item 2-1',
                            }, 
                            {
                                name: 'item 2-2',
                                items: [
                                    {
                                        name: 'item 2-2-1',
                                    }, 
                                    {
                                        name: 'item 2-2-2',
                                        items: [
                                            {
                                                name: 'item 2-2-1',
                                            }, 
                                            {
                                                name: 'item 2-2-2',
                                                inner: ''
                                            }, 
                                            {
                                                name: 'item 2-2-3',
                                                items: [
                                                {
                                                    name: 'item 1',
                                                }, 
                                                {
                                                    name: 'item 2',
                                                    items: [
                                                        {
                                                            name: 'item 2-1',
                                                        }, 
                                                        {
                                                            name: 'item 2-2',
                                                            items: [
                                                                {
                                                                    name: 'item 2-2-1',
                                                                }, 
                                                                {
                                                                    name: 'item 2-2-2',
                                                                    items: [
                                                                        {
                                                                            name: 'item 2-2-1',
                                                                        }, 
                                                                        {
                                                                            name: 'item 2-2-2',
                                                                            inner: ''
                                                                        }, 
                                                                        {
                                                                            name: 'item 2-2-3',
                                                                        }
                                                                    ]
                                                                }, 
                                                                {
                                                                    name: 'item 2-2-3',
                                                                }
                                                            ]
                                                        }, 
                                                        {
                                                            name: 'item 2-3',
                                                        }
                                                    ]
                                                }, 
                                                {
                                                    name: 'item 3',
                                                    
                                                }
                                            ]
                                            }
                                        ]
                                    }, 
                                    {
                                        name: 'item 2-2-3',
                                    }
                                ]
                            }, 
                            {
                                name: 'item 2-3',
                            }
                        ]
                    }, 
                    {
                        name: 'item 3',
                        
                    }
                ]
            }
        +listItems(data)
        //- #tunnel
        header(style="background: #F4F6F9 url('../../assets/img/landing-img/head-img.png') no-repeat top right;")
            .container
                a(href="").logo 
                    img(src="../../assets/img/landing-img/logo.svg", alt="")
                .header__text
                    h1 Get a personalized football experience tailored just for you
                    h4 Achieve super-fan status by getting tailored updates and up-to-the-minute information on your team.
                    .market__btn
                        a(href="#")
                            img(src="../../assets/img/landing-img/appstore-btn.png")
                        a(href="#")
                            img(src="../../assets/img/landing-img/gplay-btn.png")
        section.does
            .container
                .row
                    .match
                        .video-card__container
                            .card
                                //- TODO:  не может быть элемента без блока
                                .card__info
                                    p Sat, 12:35pm
                                    p.teams Arsenal v Chelsea
                                    span Friendly Match
                                //- TODO:  не может быть элемента без блока
                                .card__logo
                                    img(src="../../assets/img/landing-img/arsenal-logo.png", alt="")
                                    img(src="../../assets/img/landing-img/chelsea-logo.png", alt="")
                                .card__footer
                                    p Turn on all match notifications
                                    label.switch
                                        input(type='checkbox' )
                                        span.slide.round
                            .video
                                iframe(src="https://www.youtube-nocookie.com/embed/7YCAiEeVRAk", frameborder="0" width="100%" height="215" allowfullscreen)
                    //- TODO: не может быть элемента без блока
                    .what__does
                        h4.block_name What it does
                        h1.block_title An Enhanced Football Experience
                        p The Guardian Live Scores app is your go to app for live scores and watching Premier League goals… Get in there, what a result!
                        |
                        |
                        p As well as videos of all the goals, you can watch match highlights, check out the latest scores and results and stay bang-up-to-date with the big football stories from The Guardian publication.
                        a(href="").more__link Learn more
        section.started
            .container
                .row
                    .started__info
                        h4.block_name GET STARTED
                        h1.block_title User-friendly Interface
                        p The in-game goal clips from every Premier League match are available to Guardian TV customers with a Guardian subscription.
                        |
                        |
                        p So, if you’re not a subscriber, now’s the time to make that savvy call. If that’s a step too far for you, you can still watch loads of firecracker Premier League action as long as you sign in with a free Guardian iD.
                        a(href="").more__link Learn more
                    .started__app
                        
                        .started-app__img
                            a(href="#").started-app__notification
                                span.notification 7
                                img(src="../../assets/img/landing-img/notif-icon.png", alt="")
                            img(src="../../assets/img/landing-img/phone.png", alt="" class="phoneimg")
                        a(href="#").started-app__getapp
                            img(src="../../assets/img/landing-img/getapp-icon.png", alt="")

        section.features
            .container
                .features__title
                    h1 Features That Will Tailor Your Experience
                .features__items
                    
                    +flist({
                        text: 'Video highlights for every Premier League and English Football League game',
                        icon: 0
                    })
                    +flist({
                        text: 'Notifications for your teams, including in-game goal clips and Premier League match highlights for Sky TV subscribers with Guardian.',
                        icon: 1
                    })
                    +flist({
                        text: 'Brand new video section including dedicated areas for your chosen team, trending video, Premier League, Football league and other major leagues',
                        icon: 2
                    })
                    +flist({
                        text: 'Match pages showing live scores, commentary, team line-ups and enhanced match stats to keep you up-to-date on all the action',
                        icon: 3
                    })
                    +flist({
                        text: 'The new picture in picture video mode means you can watch goals, manager interviews and more whilst using other areas of the app – so you don’t need to miss any of the action',
                        icon: 4
                    })
                    +flist({
                        text: 'Live updated league tables including all the domestic, European and major leagues and tournaments',
                        icon: 5
                    })
                    +flist({
                        text: 'The Guardian News Vidiprinter. Follow the goals as they go in with our new and improved Vidiprinter',
                        icon: 6
                    })
                    +flist({
                        text: 'Match reports, previews and a dedicated news section',
                        icon: 7
                    })
                    +flist({
                        text: 'And you can achieve super-fan status by personalising your home page with up-to-the-minute information on your team.',
                        icon: 8
                    })

        section.testimonials
            .container
                h1.block__title.text-center What Our Users Say  
            +swiper({class: 'my-swiper'})
                +slide()
                    .user
                        .user__info
                            .user__info-avatar
                                img(src="../../assets/img/landing-img/icons/user-avatar.png", alt="")
                            .user__info-name
                                span Noah Jackson
                        .user__social
                            a(href="")
                                img(src="../../assets/img/landing-img/icons/twitter.png", alt="")
                    .testimonial
                        p I use this app every day and it's a great way to keep up to date with what's going on in football. It's a shame it won't rotate into landscape mode like its main competitor
                +slide()
                    .user
                        .user__info
                            .user__info-avatar
                                //- img(src="../../assets/img/landing-img/icons/user-avatar.png", alt="")
                            .user__info-name
                                span Darren Wilson
                        .user__social
                            a(href="")
                                img(src="../../assets/img/landing-img/icons/twitter.png", alt="")
                    .testimonial
                        p Good for scores and commentary but the team lineups have stopped working. 
                +slide()
                    .user
                        .user__info
                            .user__info-avatar
                                img(src="../../assets/img/landing-img/icons/user-avatar.png", alt="")
                            .user__info-name
                                span Michael Akinuli
                        .user__social
                            a(href="")
                                img(src="../../assets/img/landing-img/icons/twitter.png", alt="")
                    .testimonial
                        p Good for watching the goals and great for highlights instead of waiting till 10:30 before you can watch highlights on March of the day also no need of sky go
                +slide()
                    .user
                        .user__info
                            .user__info-avatar
                                //- img(src="../../assets/img/landing-img/icons/user-avatar.png", alt="")
                            .user__info-name
                                span Noah Jackson2
                        .user__social
                            a(href="")
                                img(src="../../assets/img/landing-img/icons/twitter.png", alt="")
                    .testimonial
                        p I use this app every day and it's a great way to keep up to date with what's going on in football. It's a shame it won't rotate into landscape mode like its main competitor
                +slide()
                    .user
                        .user__info
                            .user__info-avatar
                                img(src="../../assets/img/landing-img/icons/user-avatar.png", alt="")
                            .user__info-name
                                span Noah Jackson2
                        .user__social
                            a(href="")
                                img(src="../../assets/img/landing-img/icons/twitter.png", alt="")
                    .testimonial
                        p I use this app every day and it's a great way to keep up to date with what's going on in football. It's a shame it won't rotate into landscape mode like its main competitor

                +slide()
                    .user
                        .user__info
                            .user__info-avatar
                                //- img(src="../../assets/img/landing-img/icons/user-avatar.png", alt="")
                            .user__info-name
                                span Noah Jackson2
                        .user__social
                            a(href="")
                                img(src="../../assets/img/landing-img/icons/twitter.png", alt="")
                    .testimonial
                        p I use this app every day and it's a great way to keep up to date with what's going on in football. It's a shame it won't rotate into landscape mode like its main competitor

        
        section.featured
            .container
                h1.block__title.text-center We have been featured in
                .featured__logos
                    include ../list/logo-list/logo-list.pug
        section.get-close
            .container
                .get__close-info
                    h1.block-title Get Up Close With Your Team
                    p If you’re interested in the scores of more than one team (it’s OK, we won’t tell your mates you support two clubs!), you can choose the scores and competitions that matter to you using the ‘My Scores’ section. So, make sure you’re a top-flight football fan by downloading the Football Score Centre now. It’s got all this:
                    .market__btn
                        a(href="#")
                            img(src="../../assets/img/landing-img/appstore-btn.png")
                        a(href="#")
                            img(src="../../assets/img/landing-img/gplay-btn.png")
            .get__close-img
                img(src="../../assets/img/landing-img/team-bg.png", alt="")
        
        footer
            .container
                .row
                    a(href="").logo 
                        img(src="../../assets/img/landing-img/logo-foot.png", alt="")
                    include ../list/list.pug
                    .social__links
                        a(href="")
                            img(src="../../assets/img/landing-img/twitter.png", alt="")
                        a(href="")
                            img(src="../../assets/img/landing-img/instagram.png", alt="")
                        a(href="")
                            img(src="../../assets/img/landing-img/facebook.png", alt="")
    //- include ../list/featured-list/featured-list.pug

    script(src="js/vendors/utils.js")
    script(src="js/common.js")


