$default-color: #00ADEE;
$text-uppercase: uppercase;



@mixin block_name {
    color: $default-color;
    font-size: 16px;
    text-transform: $text-uppercase;
    font-weight: $font-bold;
}

@mixin block_title {
    color: $color-black;
    font-size: 28px;
    font-weight: $font-bold;
    margin-bottom: 27px;
}


body {
    background: #fff !important;
}


.container {
    width: 100%;
    max-width: 1110px;
}

.row {
    @include row();
}

// .items {
//     @include row();
// }

// .item {
//     @include col();
//     @include size(3);
//     @include size-lg(6);
//     @include size-sm(12);
//     border: 1px solid #000;
// }
//default

#tunnel {
    width: 100px;
    height: 100px;
    background: #000;
}

.block_name {
    @include block_name;
    margin-bottom: 25px;
}

.block_title {
    @include block_title;
}

.more__link {

    margin-top: 20px;
    color: $default-color;
    font-size: 16px;
    font-weight: $font-bold;



    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $default-color;
        bottom: -5px;
        left: 0;
        transition: .3s;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}


.text-center {
    text-align: center;
}

// end default
// header
header {
    // background: #F4F6F9 url('../../assets/img/landing-img/head-img.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 60px 0 164px 0;

    .logo {
        transition: all .3s ease;
        display: block;

        img {
            width: 99px;
        }

    }

    .header__text {
        padding-top: 133px;

        h1 {
            max-width: 546px;
            padding: 0 2px;
            font-size: 36px;
            letter-spacing: 1px;
        }

        h4 {
            font-size: 18px;
            font-weight: $font-reg;
            max-width: 453px;
            padding-top: 17px;
        }
    }

    @include mq($lg) {
        background: #f4f6f9 !important;
        min-height: 525px;
        padding: 34px 0 60px 0;

        .logo {
            text-align: center;
        }

        .header__text {
            text-align: center;
            padding-top: 86px;

            h1 {
                font-size: 30px;
                margin: 0 auto;
                // word-break: break-all;
            }

            h4 {
                font-size: 16px;
                margin: 0 auto;
                // word-break: break-all;
            }
        }

        .market__btn {
            justify-content: center;

            a {
                justify-content: space-between;
            }
        }
    }

}


.market__btn {
    display: flex;
    margin-left: 0;
    margin-top: 54px;


    img {
        width: 100%;
    }

    a {
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }
    }
}

// does
.does {
    @include mq($lg) {
        background: url('../../assets/img/landing-img/mob-bg-on.png'),
            url('../../assets/img/landing-img/mob-bg-sub.png');
        background-repeat: no-repeat,
            no-repeat;
        background-position: left 220px;
        background-size: cover;
    }

    background: url('../../assets/img/landing-img/after-img.png'),
    url('../../assets/img/landing-img/does-bg.png');
    background-size: contain;
    background-position: 1px top,
    left top;
    background-repeat: no-repeat,
    no-repeat;



    .row {
        @include mq($lg) {
            flex-direction: column-reverse;
        }

        @include mq($lg) {
            .what__does {
                top: 0;
                padding-left: 0;
                text-align: center;
                align-items: center;
            }

            .match {
                display: flex;
                justify-content: center;
            }



            .card__footer p {
                font-size: 13px;
            }

        }
    }

    @include mq($xs) {
        .video-card__container {
            width: 100%;
        }

        .card {
            width: 100%;
        }
    }

}

.match,
.what__does {
    @include col();
    @include size(6);

    @include size-xs(12);
    @include size-md(12);
    @include size-lg(12);
}



.what__does {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 115px;

    p {
        padding: 0;
        line-height: 24px;

        font-size: 16px;
        margin-bottom: 30px;
    }

    .last {
        position: relative;
        top: -4px;
    }
}

.card {
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, .5);
    border-radius: 4px;
    width: 360px;
    height: 218px;
    margin-top: 48px;
    position: relative;
    z-index: 1;

    .card__info {
        float: left;
        padding-left: 15px;
        padding-top: 31px;
        letter-spacing: .2px;
    }

    p {
        font-size: 16px;
        font-weight: $font-bold;
        padding: 0;
        line-height: unset;
        color: #4F4F4F;


    }

    .teams {
        font-size: 18px;
        font-weight: $font-reg;
        color: $color-black;
        max-width: 110px;
        line-height: 24px;
        margin-bottom: 18px;
    }

    span {
        font-size: 16px;
        color: $color-black;
    }

    img {
        width: auto;
        position: relative;
        z-index: 1;

        &:first-child {
            transform: translateX(16px)
        }
    }
}

.card__logo {
    margin-right: 15px;
    text-align: right;
    padding-top: 46px;

    img {
        @include mq($lg) {
            width: 25%;
        }
    }
}

.card__footer {
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    padding-top: 15px;
    letter-spacing: .3px;

    p {
        margin-top: 0;
        font-size: 18px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 13px;
    margin-top: 5px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 21px;
        width: 21px;
        left: -9px;
        bottom: -4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input {
    &:checked+.slide {
        background-color: $default-color;
    }

    &:focus+.slide {
        box-shadow: 0 0 1px $default-color;
    }

    &:checked+.slide:before {
        -webkit-transform: translateX(23px);
        -ms-transform: translateX(23px);
        transform: translateX(23px);
    }
}

.slide.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}

.video {
    @include bdrs();
    max-width: 360px;
    position: relative;
    top: -30px;
    left: 106px;

    @include mq($lg) {
        left: 20px;
    }

}

@media screen and (min-width: $lg) {
    border-radius: 4px;
    max-width: 360px;
    position: relative;
    top: -217px;
    float: right;
    margin-left: 106px;
}

// started
.started {
    background-image: url('../../assets/img/landing-img/start-bg.jpg');
    background-repeat: no-repeat;
    min-height: 716px;
    background-position: center;
    background-size: contain;

    @include mq($sm) {
        background-image: url('../../assets/img/landing-img/icons/ellips.png');
        background-position: right;
        background-size: unset;
    }

    @include mq($xs) {
        .phoneimg {
            width: 100%;
        }
    }

    @include mq($md) {
        background-image: url('../../assets/img/landing-img/icons/ellips.png');
        background-position: bottom center;
        background-size: unset;

        .started__info {
            margin-top: 40px;
            text-align: center;
            align-items: center;
        }

        .started__app {}



        .started-app__img {
            position: relative;
            top: 30px;
        }
    }

    p {
        padding: 0;
        line-height: 24px;
        margin-bottom: 30px;
    }

    img {
        width: auto;
    }

    .started__info,
    .started__app {
        @include col();
        @include size(6);
        @include size-xs(12);
        @include size-md(12);

    }


}

.started__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include mq($lg) {
        margin-top: 0;
        text-align: center;
    }
}

.started__app {
    margin: 0 auto;
    text-align: center;


    a {
        @include bdrs(50%);
        display: block;
        width: 91px;
        height: 91px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25), 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1);

        span {
            @include mq($md) {
                font-size: 12px;
                width: 18px;
                height: 18px;
            }

            @include bdrs(50%);
            position: absolute;
            display: flex;
            width: 22px;
            height: 22px;
            background-color: $default-color;
            color: white;
            justify-content: center;
            align-items: center;
            top: 20px;
            right: 18px;


        }
    }

    .started-app__notification {
        position: absolute;
        display: inline-flex;
        margin-top: 45px;
        margin-left: 40px;
    }



    .started-app__getapp {
        position: absolute;
        display: inline-flex;
        margin-top: -245px;
        margin-left: 80px;

        @include mq($md) {
            margin-top: -170px;

        }

    }

    @include mq($sm) {
        margin-left: 0;


        .started__info {
            margin-top: 20px !important;
            text-align: center;
        }


        .started-app__notification,
        .started-app__getapp {

            width: 71px;
            height: 71px;

        }
    }
}

// features
.features {
    @include mq($sm) {
        background: #FAFAFA;

        .features__title {
            h1 {
                color: #333333 !important;
                font-size: 28px;
            }
        }


    }

    background: url('../../assets/img/landing-img/feature-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 735px;
    background-position: center center;



    .features__title {
        text-align: center;
        margin: 16px auto 58px auto;

        h1 {
            color: white;
            font-size: 28px;
        }

    }
}

.features__items {
    @include row();

    .features__item {
        @include col();
        @include size(4);
        @include size-md(6);
        @include size-sm(12);
        margin-bottom: 50px;

        p {
            color: white;
            font-size: 16px;
            line-height: 23px;

            &:before {
                content: '•';
                position: relative;
                margin-right: 10px;
                font-size: 20px;

            }
        }
    }

    @include mq($sm) {
        .features__item {
            text-align: center;

            svg {
                path {
                    fill: $default-color;
                }
            }

            p {
                color: #333333;

                &:before {
                    content: '';
                }
            }
        }
    }
}

.testimonials {
    .block__title {
        padding-bottom: 63px;

        @include mq($lg) {
            padding-bottom: 39px;
        }
    }

    &:after {
        content: '.';
        position: absolute;
        box-shadow: 0px 0 107px 130px #fff;
        right: 0;
        margin-top: -120px;
        z-index: 99;
        color: white;

        @include mq($lg) {
            content: '';
            position: relative;
        }
    }

    &:before {
        content: '.';
        position: absolute;
        box-shadow: 0px 0 107px 130px #fff;
        left: 0;
        margin-top: 99px;
        z-index: 99;
        color: white;

        @include mq($lg) {
            content: '';
            position: relative;
        }
    }

    .swiper-slide {
        @include bdrs();
        border: 1px solid #ccc;
        max-height: 190px;
        min-height: 190px;
        padding: 17px;

        // width: 310px !important;

    }

    .user {
        display: flex;
        justify-content: space-between;

        .user__info-avatar {
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-image: url('../../assets/img/landing-img/icons/default-avatar.png');
        }

        .user__info-name {
            display: flex;
            align-items: center;
            padding-left: 11px;
            font-weight: $font-bold;
        }

        .user__info {
            display: flex;

        }
    }

    .testimonial {
        p {
            line-height: 16px;
            font-size: 14px;
            padding-top: 20px;
            height: 130px;
            overflow: auto;
        }
    }

    .user__social {
        padding-top: 4px;
    }
}

.swiper-button-prev {
    background-image: url('../../assets/img/landing-img/icons/left.png');
    left: 15%;

}

.swiper-button-next {
    background-image: url('../../assets/img/landing-img/icons/right.png');
    right: 15%;
}

.swiper-button-next,
.swiper-button-prev {
    width: 47px;
    height: 47px;
    background-size: cover;
    margin-top: -50px;


}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
}

.swiper-pagination-bullet-active {
    background: #828282;

}

.swiper-container-horizontal>.swiper-pagination-bullets {
    position: relative;
    margin-top: 45px;
    ;
}

.featured {
    background-color: #FAFAFA;
    min-height: 278px;

    h1 {
        margin-bottom: 58px;
    }

    .featured__logos {
        @include row();
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;





        .featured__logo {
            flex: 1 0 15%;
            box-sizing: border-box;

            padding: 10px;

        }
    }
}

.get-close {
    h1 {
        padding-top: 55px;
    }

    p {
        line-height: 25px;
        padding-left: 0;

    }

    .get__close-img {
        margin-top: -60px;
        position: absolute;
        left: 0;

        img {
            width: 100%;
        }



        @include mq($lg) {
            top: 50px;
            position: relative;
            left: -15px;
            width: 100%;
        }
    }

    .get__close-info {
        @include col();
        @include size(6);
        @include size-lg(12);
        float: right;
        padding-bottom: 10px;
    }
}

footer {

    background-color: $default-color !important;




    .logo {
        @include col();
        @include size(4);
        @include size-lg(12);
        float: left;
    }


    .navigate {
        @include col();
        @include size(4);
        @include size-lg(12);
        margin-top: 7px;
        margin-bottom: 6px;

        ul {
            display: flex;
            justify-content: space-between;
        }

        a {
            color: white;
        }

    }



    .social__links {
        @include col();
        @include size(4);
        @include size-md(12);
        justify-content: flex-end;
        display: flex;
        padding-top: 3px;

        a {
            margin-right: 9px;
            margin-left: 9px;

        }

        @include mq($lg) {
            justify-content: left;
            padding-top: 15px;

            a {
                margin-left: 0;
            }
        }
    }



}

@include mq($lg) {

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }
}