$icon-margin: .8em;

.icon {
    @include trs;
    // width: 24px;
    // height: 24px;
    // padding: 4px;
    // stroke: #000;
    stroke-width: 2;

    &--mleft {
        margin-left: $icon-margin;
    }

    &--mright {
        margin-right: $icon-margin;
    }
}

// Stroke
.stroke-primary {
    stroke: $color-primary;
}

.stroke-secondary {
    stroke: $color-secondary;
}

.stroke-success {
    stroke: $color-success;
}

.stroke-danger {
    stroke: $color-danger;
}

.stroke-info {
    stroke: $color-info;
}

.stroke-black {
    stroke: $color-black;
}

.stroke-white {
    stroke: $color-w;
}

.stroke-current {
    stroke: currentColor;
}

// Fill
.fill-primary {
    fill: $color-primary;
}

.fill-secondary {
    fill: $color-secondary;
}

.fill-success {
    fill: $color-success;
}

.fill-danger {
    fill: $color-danger;
}

.fill-info {
    fill: $color-info;
}

.fill-black {
    fill: $color-black;
}

.fill-white {
    fill: $color-w;
}

.fill-current {
    fill: currentColor;
}