//variables
$imgWidth: 70px;
$logo--text-size: 12px;

footer {
    display: flex;
    background: grey;
    padding: 48px 20px;
    width: 100%;

}

.footer__items--align {
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-size: $logo--text-size;
    line-height: 1.5;

    &:hover {
        color: #fff;
    }
}

.copyright__logo {
    display: block;
    width: $imgWidth;
    margin-left: 10px;
}