// Start: Footer

.footer(class=manyItems)
    //- Your content here

    a.copyright(href="#")
        .copyright__text Создание сайта 
        .copyright__logo
            img(src="./logo-webus.svg", alt="")

// End: Footer