extends ../layout.pug

block vars
    -        
        var hasFooter = false

block main
        
    .redirect
        .redirect__bg-img
            img(alt='')
        .container--medium
            .redirect__content
                h2.redirect__title Страница не найдена
                h3.redirect__title Страница не найдена
                p.redirect__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet illo repellendus autem dicta id, voluptatibus eius omnis labore impedit in atque, a voluptates ratione dolores.
                .redirect__btns
                    a.btn.btn--primary(href='index.html')
                        span На главную