.redirect {
    padding: 0;
    padding-top: 0;
    position: relative;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); // header compensation 

    // @include mq($xl) {
    //     height: calc(100vh - 80px);
    // }

}
 

.redirect__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.redirect__wrong-browser-title {
    margin-bottom: 30px;
}

.redirect__wrong-browser-text {
    margin-bottom: 50px;
}

.redirect__bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);

    img {
        object-fit: cover;
        height: 100%;
    }

    &:before {
        @include befaf;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-white;
        opacity: .8;
    }
}

.redirect__title {
    color: $color-primary;
    margin-bottom: 0;
}

.redirect__text {
    margin-top: 30px;
    margin-bottom: 50px;

    @include mq($xs) {
        margin: 20px 0;
    }
}

.redirect__btns {
    display: flex;
    justify-content: center;

    .btn {
        margin: 0 20px;

        @include mq($sm) {
            margin: 10px 20px;
        }
    }

    @include mq($sm) {
        flex-wrap: wrap;

    }
}


.redirect__wrong-browser-img {
    padding-top: 60px;
    margin-bottom: 30px;
    width: 128px;   
    position: relative;

    &:before {
        @include befaf;
        top: 60px;
        left: 50%;
        width: 5px;
        height: 200px;
        background-color: $color-danger;
        transform: translateY(-15%) rotate(-45deg);

        @include mq($xxl) {
            top: 0;
        }

        @include mq($md) {
            top: 0;
            height: 140px;
            transform: translateY(-8%) rotate(-45deg);
        }
    }

    @include mq($xxl) {
        padding-top: 0;
    }
    @include mq($md) {
        margin-bottom: 30px;
        width: 100px;
        height: 100px;
        padding: 0;
    }
}

.redirect__browsers-list {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    max-width: 600px;
}

.redirect__browsers-item {
    margin: 0 30px;
}

.redirect__browsers-item img {
    @include trs;
}

.redirect__browsers-item:hover img {
    transform: scale(1.1);
}


