<!DOCTYPE html>
include ../../components/list/list.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/common.css")

    body

        //- input(type='checkbox' id = 'check' class='check')
        .todoContainer
            .todoIn
                input(type='text' placeholder='Enter To Do')
                button Add
            .todoOut
    footer
        //- include ../../sections/footer/footer.pug

        script(src="js/vendors/utils.js")
        script(src="js/common.js")
        //- 2

