body {
    background: #ccc;
}

input[type='checkbox'] {
    -webkit-appearance: checkbox !important;
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
}

.close {
    float: right;
    cursor: pointer;
}


p {
    padding: 10px;
}

.bg {
    background-color: lightblue;
}

.todoContainer {
    width: 500px;
    margin: 0 auto;

    .todoIn {
        display: flex;
        justify-content: space-between;







        button {
            background-color: #fff;
            border: 1px solid red;
            cursor: pointer;
        }
    }
}