mixin list(...items)
    .navigate#navigate
        .navigate__list
            ul.navigate__items
                    each item in items
                        li.navigate__link: a(href='#')= item
+list('Download', 'Support', 'Developers', 'Privacy')                        
    

                            
               


