mixin btn2(config)
    -
        var defaults = {
            text: 'Test button',
            color: false,
            size: '',
            isActive: false,
            disabled: false,
            href: false,
            download: false,
            icon: false
        }
        
    //- -
    //-     var colors = {
    //-         primary: 'btn--primary'
    //-     }    
    
    -   var params = Object.assign({}, defaults, config)
    -   var linkTag = params.href ? 'a' : 'button'
    
    #{linkTag}( 
        class= {
            'active': params.isActive,
           
        }

        class= params.size ? 'btn--' + params.size : null
        href= params.href
        class= params.color ? 'btn--' + params.color : null
        disabled= params.disabled ? '' : null
        download= params.download ? params.href : null
    )&attributes(attributes)
        if block
            block
            if params.icon
                +ic2(params.icon)
        else
            span= params.text
            if params.icon
                +ic2(params.icon)
            
            
    
   
        //- +ic2({
        //-     name: '../../assets/img/landing-img/icons/ico-4.svg',
        //-     width: 20,
        //-     height: 20,
        //-     style: {
        //-         float: 'right'
        //-     }
        //- })


    //- .btn2()
        if params.isActive == true
            button(href = '#' class= 'active' + ' ' + 'btn--' + params.color + ' ' + 'btn--' + params.size)&attributes({'disabled' : params.disabled})= params.text
        else
            button(class= 'btn--' + params.color + ' ' + 'btn--' + params.size)&attributes({'disabled' : params.disabled})= params.text
        
        //- if block
        //-     block
        //-     if params.text       
        //- else
    //- if params.isActive == true
    //-     button(disabled= params.disabled class= 'active' + ' ' + 'btn--' + params.color + ' ' + 'btn--' + params.size)= params.text
    //- else
    //-     button(disabled= params.disabled class= 'btn--' + params.color + ' ' + 'btn--' + params.size)= params.text
    
    //- if block
    //-    block 
    //- else 
    //-     button= params.text

//- button.btn2(
        class= params.color
    )&attributes(attributes)
        button= params.text