mixin flist(obj)

    -
        var def = {
            text: 'Some text',
            icon: 99
        }

    - var params = Object.assign({}, def, obj)

    //- .features__item
        if params.icon == 0
            include ../../../assets/img/landing-img/icons/ico-1.svg
        else if params.icon == 2
            include ../../../assets/img/landing-img/icons/ico-2.svg
        else if params.icon == 3
            include ../../../assets/img/landing-img/icons/ico-2.svg
        p= params.text

    

    case params.icon
        when 0
            .features__item
                include ../../../assets/img/landing-img/icons/ico-0.svg
                p= params.text 

        when 1
            .features__item
                include ../../../assets/img/landing-img/icons/ico-1.svg
                p= params.text 
        when 2
            .features__item
                include ../../../assets/img/landing-img/icons/ico-2.svg
                p= params.text 
        when 3
            .features__item
                include ../../../assets/img/landing-img/icons/ico-3.svg
                p= params.text 
        when 4
            .features__item
                include ../../../assets/img/landing-img/icons/ico-4.svg
                p= params.text 
        when 5
            .features__item
                include ../../../assets/img/landing-img/icons/ico-5.svg
                p= params.text 
        when 6
            .features__item
                include ../../../assets/img/landing-img/icons/ico-6.svg
                p= params.text 
        when 7
            .features__item
                include ../../../assets/img/landing-img/icons/ico-7.svg
                p= params.text 
        when 8
            .features__item
                include ../../../assets/img/landing-img/icons/ico-8.svg
                p= params.text 
        
        default
            .features__item
                include ../../../assets/img/landing-img/icons/ico-0.svg
                p= params.text 

