extends ../layout.pug

block vars
    -        
        var hasFooter = false

block main
        
    .redirect
        .redirect__bg-img
            img(alt='')
        .container--medium
            .redirect__content
                .redirect__wrong-browser-img
                    img(src='../../assets/img/browser-ie.svg', width='128', height='125', alt='')
                h2.redirect__title Наш сайт не поддерживает Internet Explorer
                h3.redirect__title Пожалуйста, воспользуйтесь другим браузером
                p.redirect__text
                .redirect__content-wrapper
                    ul.redirect__browsers-list
                        li.redirect__browsers-item
                            a(href='https://www.google.com/chrome/')
                                img(src='../../assets/img/browser-chrome.svg', alt='chrome')
                        li.redirect__browsers-item
                            a(href='https://www.mozilla.org/ru/firefox/new/')
                                img(src='../../assets/img/browser-firefox.svg', alt='firefox')
                        li.redirect__browsers-item
                            a(href='https://support.apple.com/downloads/safari')
                                img(src='../../assets/img/browser-safari.svg', alt='safari')
                        li.redirect__browsers-item
                            a(href='https://www.opera.com/ru/download')
                                img(src='../../assets/img/browser-opera.svg', alt='opera')

    //- +redirect({containerSize: 'medium'})
    //-     +redirect-content({type: 'IE', title: 'Наш сайт не поддерживает Internet Explorer'})
    //-         h3.redirect__title Пожалуйста, воспользуйтесь другим браузером
    //-         p.redirect__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet illo repellendus autem dicta id, voluptatibus eius omnis labore impedit in atque, a voluptates ratione dolores.                
