mixin ic2(config)
    -   var params = Object.assign({},  config)
    
    img(
        src= params.name
        width= params.width
        height= params.height
        style= params.style
    )&attributes(attributes)
