mixin gallery(config)
    -
        const defaults = {

        }
    
    -   const params = Object.assign({}, defaults, config)
    
    //- TODO: clean this mess. Create +gallery-item
    .gallery&attributes(attributes)
        block
        //- +swiper#test1
        //-     +slide
        //-         .gallery__item(data-index="0")
        //-             img(src="../../assets/img/g5.jpg", alt="")
        //-     +slide
        //-         .gallery__item(data-index="1")
        //-             img(src="../../assets/img/g6.jpg", alt="")
        //-     +slide
        //-         .gallery__item(data-index="2")
        //-             img(src="../../assets/img/g7.jpg", alt="")


        +modal({noBg: true})
            +swiper.gallery-swiper
                +slide
                    img(src="../../assets/img/g5.jpg", alt="")
                +slide
                    img(src="../../assets/img/g6.jpg", alt="")
                +slide
                    img(src="../../assets/img/g7.jpg", alt="")
                +slide
                    video(src="../../assets/video/video-1280.mp4")
                +slide
                    +iframe({
                        type: 'video',
                        src: 'https://www.youtube.com/embed/ScNNfyq3d_w'
                    })

mixin gallery-item(index)
    .gallery__item(data-index= index)
        if block
            block
        else
            img(src="../../assets/img/g5.jpg", alt="")
