.docs {
    background: #f3f4f7;
    padding: 0;
}

.docs__row {
    // @include row();
    display: flex;

    height: 100%;
    min-height: 100vh;
}

.docs__aside {
    width: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 4px 0 8px rgba(#000, .1);
}

.docs__body {

    padding: 20px;
}

.opac {
    opacity: .2;
}