extends ../layout-docs.pug

block main                   
    .docs__row
        aside.docs__aside
            a.header__logo.no-padding(href="index.html")
                img(src="../../sections/footer/logo-webus.svg", alt="")

            h2 Aside
            .btns
                +btn
                +btn
                +btn
                +btn
                +btn
                +btn

        .docs__body
            h2 Body

            +formGroup({type: 'checkbox', required: false, id: 'chk'})
                span Some text 
            +formGroup({type: 'text', required: false, id: 'inp'})
                span Some text 
            +formGroup({type: 'text', required: false, inputAttrs: {value: "123"}})
                span Some text 
            +formGroup({type: 'text', required: false,})
                span Some text 
            +btn
            +btn
            +btn
            +btn
            +btn
            +btn
            +btn