@import '../../scss/_var.scss';
@import '../../scss/_mixins.scss';

.accordion {
    position: relative;
    width: 100%;
    max-width: 900px;
    

    &__title {
        @include trs;
        padding: 12px;
        background: #fff;
        font-weight: bold;
        // box-shadow: 0 3px 5px rgba(#000, .1);
        border: 1px solid $color-grey-2;
        padding-right: 60px;
        position: relative;
        margin-top: -1px;

        // &::before{
        //     @include befaf;
        //     @include trs(.8s);
        //     position: absolute;
        //     z-index: 1;
        //     left: 0;
        //     bottom: 0;
        //     width: 100%;
        //     height: 1px;
        //     background: $color-grey-2;  

        //     transform-origin: 0 0;
        //     transform: scaleX(0);
        // }
    }

    &__title.show {
        // box-shadow: 0 3px 5px rgba(#000, 0);
        // box-shadow: 0 10px 25px rgba(#000, .15);
        
        &::before {
            transform: scaleX(1);
        }

        .accordion__icon:before {
            transform: translateY(-20px);
            opacity: 0;
        }

        .accordion__icon:after {
            transform: translateX(0);
            opacity: 1;
        }

        + .accordion__content {
            // box-shadow: 0 10px 25px rgba(#000, .15);
            position: relative;
        }
    }

    &__title.active {
        + .accordion__content {
            display: block;     // for js animation
            // height: auto;
            // max-height: none;
        }
    }

    &__content {

        border: 1px solid $color-grey-2;
        background: #fff;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -1px;

        transition: .5s ease;
        display: none;          // for js animation
        // height: 0;
        // max-height: 0;
        
        + .accordion__title {
            // margin-top: .5em;
        }
    }

    .some-content {
        padding: 10px 20px;
        // font-size: 16px;
        font-weight: normal;
        // line-height: 2;
        // border: 1px solid #000;
    }



    &__icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;

        &::before,
        &::after {
            @include befaf;
            @include trs;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center right ;
            background-size: 50%;
        }
        
        &::before {
            background-image: url('./open.svg');
        }

        &::after {
            background-image: url('./close.svg');
            
            opacity: 0;
            transform: translateY(20px);
        }
    }
}