@import '../../scss/_settings.scss';

$sidePadding: 0px;
$verticalPadding: nth( map-get($form, inputPadding), 1 );
$doubleVerticalPadding: $verticalPadding * 2;

@if length( map-get($form, inputPadding) ) > 1 {
	$sidePadding: nth( map-get($form, inputPadding), 2 );
} @else {
	$sidePadding: nth( map-get($form, inputPadding), 1 );
}

// Input + Textarea
input,
textarea {
	@include trs;
	border: 1px solid map-get($form, bdcolor);
	border-radius: 4px;
	width: 100%;
	padding: map-get($form, inputPadding);
	outline: none;
	color: $color-black;
	font-size: inherit;
	font-weight: bold;
	background: map-get($form, bgcolor);
	-webkit-appearance: none;

	&:focus,
	&.active {
		border-color: $color-primary;
		background: map-get($form, bgcolorHover);

		+ .form__placeholder {
			transform: translateY( calc(#{-$verticalPadding - .125em} - 50%) );
			background: #fff;
			font-size: 12px;
		}
	}

	// Autofill background
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 5000s ease-in-out 0s;
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		-webkit-text-fill-color: inherit;
	}

	&::-webkit-input-placeholder {
		color: $color-grey-3;
		font-weight: 100;
	}

	&::-moz-placeholder {
		color: $color-grey-3;
		font-weight: 100;
	}

	&:-moz-placeholder {
		color: $color-grey-3;
		font-weight: 100;
	}

	&:-ms-input-placeholder {
		color: $color-grey-3;
		font-weight: 100;
	}

	@include mq($md) {
		font-size: 16px;
	}
}

input[type='checkbox'],
input[type='radio'] {
	width: auto;
}


// Form
.form {
	width: 100%;
	// padding: 20px 50px;
	position: relative;

	&.success {
		.form__success {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&.form--preload .form__group {
		opacity: .5;
	}
}

.form__success {
	@include trs;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	transform: translateY(10px);
	color: $color-success;

	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	background: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form__title {
	font-size: 20px;
	width: 100%;
	text-align: center;
	font-weight: 600;
	margin-bottom: 1em;
}

.form__wrapper {
	display: flex;
	align-items: center;
	// margin-right: 15px;

	position: relative;

	span:hover {
		color: green;
	}
}

.form__group {
	display: block;
	position: relative;
	margin-bottom: 5px;
	font-size: map-get($form, fontSize);
}

.form__placeholder {
	@include trs;
	font-size: map-get($form, fontSize);
	position: absolute;
	left: $sidePadding;
	top: #{$verticalPadding + .125em};
	// transform: translateY(-50%);
	padding: 0 5px;
	margin-left: -5px;
	color: $color-grey-3;
	pointer-events: none;
	line-height: 1;
	// height: 0;
}

.form__group--row {
	display: flex;
	flex-wrap: wrap;

	> .form__wrapper {
		margin-right: 1em;
	}
}

.form__wrapper--has-icon {
	input {
		padding-right: calc(#{map-get($form, iconSize)} + #{$sidePadding * 2});
	}
}

// Upload
input[type='file'] {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.form__upload-item {
	display: flex;
	align-items: center;

	margin-right: .5em;
	margin-bottom: .5em;
}

.form__upload-btn-title {
	display: flex;
	align-items: center;

	font-size: 14px;
}

.form__upload-file-name {
	font-size: 14px;
	color: $color-grey-3;
}

// Counter
.form__counter {
	color: $color-grey-3;
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 12px;
}

// Input icon
.form__input-icon {
	position: absolute;
	top: $verticalPadding;
	right: $sidePadding;
	width: map-get($form, iconSize);
	height: map-get($form, iconSize);
	// border: 1px solid #000;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

// Checkbox + radio
.form__checkbox,
.form__radio {
	-webkit-appearance: none;
	position: absolute; // take it out of document flow
	opacity: 0; // hide it

	& + .icon {
		@include trs;
		width: map-get($form, checkboxWidth);
		height: map-get($form, checkboxHeight);
		stroke-width: 2;
		position: relative;

		&:before {
			@include trs;
			@include befaf;
			width: map-get($form, checkboxWidth) * 2;
			height: map-get($form, checkboxHeight) * 2;
			left: -50%;
			top: -50%;
			opacity: .2;
			transform-origin: 50% 50%;
			border-radius: 50%;
			background: rgba(#000, .2);
			pointer-events: none;
			transform: scale(0);
		}

		path {
			@include trs;
		}
	}

	&:checked + .icon {
		&:before {
			animation: checkbox-checked .6s ease-out forwards;
		}
	}
}

// Checkbox
.form__checkbox {
	& + .icon {
		@include trs;
		width: map-get($form, checkboxWidth);
		min-width: map-get($form, checkboxWidth);
		height: map-get($form, checkboxHeight);
		stroke-width: 2;
		position: relative;
		margin-right: 8px;

		path {
			@include trs;
			stroke: map-get($form, colorCheckRadioDef);
		}

		path:first-child {
			@include trs($delay: .1s);
			stroke-dasharray: 100;
			stroke-dashoffset: 200;
		}

		path:last-child {
			@include trs(.5s, $delay: 0s);
			stroke-dasharray: 50;
			stroke-dashoffset: 50;
		}
	}

	&:checked + .icon {
		path {
			stroke: map-get($form, colorCheckRadio);
		}

		&:before {
			animation: checkbox-checked .6s ease-out forwards;
		}

		path:first-child {
			@include trs($delay: 0s);
			stroke-dasharray: 80;
			stroke-dashoffset: 145;
		}

		path:last-child {
			@include trs(.5s, $delay: .1s);
			stroke-dasharray: 50;
			stroke-dashoffset: 0;
		}
	}
}

// Radio
.form__radio {
	& + .icon {
		@include trs;
		width: map-get($form, checkboxWidth);
		min-width: map-get($form, checkboxWidth);
		height: map-get($form, checkboxHeight);
		stroke-width: 2;
		position: relative;
		margin-right: 8px;

		path:first-child {
			@include trs(.6s, $delay: 0s);
			stroke-dasharray: 83;
			stroke-dashoffset: 0;
			stroke: $color-grey-3;
		}

		path:last-child {
			@include trs($delay: 0s);
			fill: transparent;
			stroke: none;
		}
	}

	&:checked + .icon {
		path:first-child {
			stroke-dashoffset: 166;
			stroke: map-get($form, colorCheckRadio);
		}

		path:last-child {
			@include trs($delay: .3s);
			fill: map-get($form, colorCheckRadio);
			stroke: none;
		}
	}
}

// Animation for checkbox + radio
@keyframes checkbox-checked {
	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

textarea {
	width: 100%;
}

.form__group.error {
	input,
	textarea {
		border-color: $color-danger;
	}

	.error__text {
		opacity: 1;
		visibility: visible;
		max-height: 60px;
	}
}

.success__text {
	@include trs;
	text-align: center;
	width: 100%;
	color: $color-success;

	opacity: 0;
	transform: translateY(50px);

	&.show {
		opacity: 1;
		transform: translateY(0);
	}
}

.error__text {
	display: block;
	transition: visibility .3s ease, max-height .5s ease, opacity .3s ease;
	font-size: 12px;
	color: $color-danger;
	padding: 2px 8px;
	max-height: 0;
	width: 100%;

	opacity: 0;
	visibility: hidden;

}
