


mixin form(obj)

    -   
        var def = {
            title: 'This is sample form',
        }

    - var params = Object.assign({}, def, obj)
    -  var title = params.title == '' ? false: params.title
    
    
    form.form(novalidate)&attributes(attributes)
        
        if title
            .form__title= title

        if block
            block
        else
            +formGroup({placeholder: 'Sample text', icon: {name: '#ic-polar-bear'}, })
            +formGroup({placeholder: 'Sample email', type:'email', icon: '../../assets/img/ic-polar-bear.svg'})
            +formGroup({floatingLabel: 'Sample phone', type:'number', value: '123'})
            +textarea({floatingLabel: 'Testing', maxLength: 15, required: true})
            +formGroup({type: 'radio', elms: ['Radio 1', 'Radio 2', 'Radio 3'], inRow: true, name: 'radio1', groupRequired: true})
            +formGroup({type: 'checkbox', elms: ['Checkbox 1', 'Checkbox 2', 'Checkbox 3'], inRow: true, groupRequired: true, name: 'check'})
            +upload-files
            +formSuccess
            +btn().js-form-submit




//-  Form Group
mixin formGroup(obj)

    -
        var formGroup = {
                type:'text',
                required: true,
                placeholder: null,
                floatingLabel: null,
                inRow: false,
                checked: false,
                elms: null,
                value: null,
                name: null,
                icon: null,
                checkedIndex: 0,
                groupRequired: false,
                inputAttrs: {},
            }

    - var params = Object.assign({}, formGroup, obj)
    
    - var type = params.type == undefined ? 'text' : params.type
    - var required = params.required == false ? null: ''
    - var elms = params.elms != null ? params.elms : null
    - var checked = params.checked == false ? null:''
    - var id = params.id == false ? null: params.id
    - var floatingLabel = params.floatingLabel == false ? false : params.floatingLabel
    
    if params.type == 'checkbox'
      - var boxClass = 'form__checkbox'

    if params.type == 'radio'
      -var boxClass = 'form__radio'



    
    //- Form group
    .form__group(class= {
        'form__group--row' : params.inRow
    } data-group-required= params.groupRequired == true ? '' : null )&attributes(attributes)

        //- Checkbox
        if type == 'checkbox'
            if block
                label.form__wrapper

                    input( 
                            class=      boxClass
                            type=       type
                            required=   required
                            name=       params.name
                            class=      params.class
                            id=         params.id
                            checked=        checked
                        )&attributes(params.inputAttrs)

                    span.icon
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
                            path( fill="none" d='M27 5.7v22.8H2v-25h25v2.2')
                            path( fill="none" d='M7.8 13.9l6.8 6.8L30 5.3')
                    block
            else
                each val in elms
                    label.form__wrapper

                        input( 
                                class=boxClass
                                type=type
                                required= params.groupRequired ? null : ''
                                name= params.name
                                class= params.class
                                id= params.id
                                checked=checked
                            )&attributes(params.inputAttrs)
                                                    
                        span.icon
                            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
                                path( fill="none" d='M27 5.7v22.8H2v-25h25v2.2')
                                path( fill="none" d='M7.8 13.9l6.8 6.8L30 5.3')

                        span= val


        //- Radio
        else if type == 'radio'
            each val, index in elms
                label.form__wrapper

                    input( 
                            class=boxClass
                            type=type
                            required= type == 'checkbox' ? '' : null
                            name= params.name
                            class= params.class
                            id= params.id
                            checked= index == params.checkedIndex ? '' : null
                        )&attributes(params.inputAttrs)
                                                  
                    span.icon   
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
                            path(d='M29 16c0 7.2-5.8 13-13 13S3 23.2 3 16 8.8 3 16 3s13 5.8 13 13z', fill='none', stroke-miterlimit='10')
                            path(d='M22.5 16c0 3.6-2.9 6.5-6.5 6.5S9.5 19.6 9.5 16s2.9-6.5 6.5-6.5 6.5 2.9 6.5 6.5z')



                    if block
                        block
                    else
                        span= val


        //- File
        else if type == 'file'
            label.form__wrapper
                input(
                    type="file"
                    required=required
                    class=params.class
                    id=params.id
                )&attributes(params.inputAttrs)  

                if block
                    block

        //- Text, Email, etc...
        else
            label.form__wrapper(class= {
                'form__wrapper--has-icon': params.icon
            })
                input(
                    type=type
                    required=required
                    placeholder=params.placeholder
                    class=params.class
                    id=params.id
                    value=params.value
                )&attributes(params.inputAttrs)

                if !placeholder
                    if floatingLabel
                        span.form__placeholder= floatingLabel
                
                if params.icon
                    span.form__input-icon
                        if typeof params.icon === 'string'
                            img(src= params.icon, alt="")
                        else if typeof params.icon === 'object'
                            +icon(params.icon)


        if required == ''
            span.error__text Ой, что-то пошло не так!



//- Success
mixin formSuccess(obj)

    -   
        var def = {
            class: null,
            id: null,
            text: 'Спасибо что вы с нами!',
        }

    - var params = Object.assign({}, def, obj)
    - var text = params.text == false ? null : params.text
    
    .form__success()&attributes(attributes)
        if block
            block
        else
            if text
                span= text



//- Textarea
mixin textarea(obj)
    -
        var def = {
            placeholder: null,
            minLength: 2,
            maxLength: null,
            required: false,
            floatingLabel: null,
            counter: null,
            icon: null
        }

    - var params = Object.assign({}, def, obj)

    - var placeholder = params.placeholder
    - var minLength = params.minLength == false ? null: params.minLength
    - var required = params.required == false ? null: ''
    - var maxLength = params.maxLength == false ? null: params.maxLength
    - var floatingLabel = params.floatingLabel == false ? false : params.floatingLabel
    
    if !floatingLabel
      - placeholder


    .form__group
        label.form__wrapper
            textarea(
                    placeholder= placeholder
                    data-min=minLength
                    data-max=maxLength
                    required=required
                    class= params.counter ? 'js-textarea-counter' : params.class
                    )&attributes(attributes)

            if params.counter
                span.form__counter
                    span.js-form-count= params.counter
                    span /
                    span= params.counter

            if !placeholder
                span.form__placeholder= floatingLabel
            
            if params.icon
                span.form__input-icon
                    if typeof params.icon === 'string'
                        img(src= params.icon, alt="")
                    else if typeof params.icon === 'object'
                        +icon(params.icon)

        if required == ''
            .error__text Ой, что-то пошло не так!


//- Upload files
mixin upload-files(obj)
    -   
        var def = {
            icon: {
                name: '#ic-clip', 
                width: 16, 
                height: 16,
                pos: 'left'
            },
            title: 'Прикрепить файл',
            container: true,
            formGroup: {
                type: 'file',
                required: false, 
                inputAttrs: {
                    multiple: true
                }
            }
        }

    - var params = Object.assign({}, def, obj)
    
    +formGroup(params.formGroup).form__group--file
        span.form__upload-btn-title
            
            if params.icon
                +icon(params.icon)

            span.form__upload-title= params.title

    if params.container
        ul.uploaded-files