@import '../../scss/var.scss';
@import '../../scss/_mixins.scss';



.modal {
    @include trs;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(#06000e, .65);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;

    opacity: 0;
    visibility: hidden;

    &.open {
        opacity: 1;
        visibility: visible;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .modal__close {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &--no-bg {
        .modal__wrapper {
            background: none;
        }
    }

    .swiper-container {
        width: 100%;
        z-index: 1;

        img {
            width: initial;
            max-width: 100%;
            max-height: calc(100vh - 100px);
        }
    }

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal__wrapper {
    background: #fff;
    position: relative;
    left: 0;
    top: 0;
    max-width: 1200px;
    height: auto;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include mq($xl) {
        width: 100%;
    }
}


.modal__close {
    @include trs;
    transition-delay: .5s;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 2;

    transform: translateY(-100%);
    opacity: 0;

    cursor: pointer;
}

