mixin modal(obj)
    -   
        var def = {
            id: null,
            class: null,
            noBg: false,
            isOpen: false
        }

    - var params = Object.assign({}, def, obj)
    //- - params.class = params.noBg === false ? params.class : params.class + ' modal--no-bg'

    .modal(class= {
        'modal--no-bg': params.noBg,
        'open': params.isOpen
    }, id= params.id, class= params.class)&attributes(attributes)
        .modal__close
            +icon({
                name: '#ic-close--white',
                stroke: 'white',
                width: 24,
                height: 24
            })
        .modal__wrapper

            block