<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
    .container
    .checkbox__single
        input(type="checkbox" class="all")
    .checkbox__all
        input(type="checkbox" class="one")
        input(type="checkbox" class="one")
        input(type="checkbox" class="one")
        input(type="checkbox" class="one")
        




script(src="js/vendors/utils.js")
script(src="js/common.js")