mixin header(obj)

    - 
        var navItems = [
                {
                    title: 'About us',
                    href: 'index.html',
                },
                {
                    title: 'Products',
                    href: 'index.html',
                    dropdown: [
                        {
                            title: 'Product 1',
                            href: 'index.html',
                        },
                        {
                            title: 'Product 2',
                            href: 'index.html',
                            dropdown: [
                                {
                                    title: 'Product 1-1',
                                    href: 'index.html'
                                },
                                {
                                    title: 'Product 1-2',
                                    href: 'index.html'
                                },
                                {
                                    title: 'Product 1-3',
                                    href: 'index.html',
                                    left: true,
                                    dropdown: [
                                        {
                                            title: 'Product 1-3-1',
                                            href: 'index.html'
                                        },
                                        {
                                            title: 'Product 1-3-2',
                                            href: 'index.html'
                                        },
                                        {
                                            title: 'Product 1-3-3',
                                            href: 'index.html'
                                        },
                                        {
                                            title: 'Product 1-3-4',
                                            href: 'index.html'
                                        },
                                        {
                                            title: 'Product 1-3-5',
                                            href: 'index.html'
                                        }
                                    ]
                                },
                                {
                                    title: 'Product 1-4',
                                    href: 'index.html'
                                },
                                {
                                    title: 'Product 1-5',
                                    href: 'index.html'
                                }
                            ]
                        },
                        {
                            title: 'Product 3',
                            href: 'index.html'
                        },
                        {
                            title: 'Product 4',
                            href: 'index.html'
                        },
                        {
                            title: 'Product 5',
                            href: 'index.html'
                        },
                    ]
                },
                {
                    title: 'Catalog',
                    href: 'index.html'
                },
                {
                    title: 'Contacts',
                    href: 'index.html',
                    
                },
                {
                    title: 'Portfolio',
                    href: 'index.html'
                },
            ]
            
    -
        var langItems = [
                {
                    title: 'RU',
                    href: 'index.html'
                },
                {
                    title: 'RO',
                    href: 'index.html'
                },
                {
                    title: 'EN',
                    href: 'index.html'
                }
            ]


    header.header#header
        .header__section
            a.header__logo(href="index.html")
                img(src="../../assets/img/logo.svg", alt="")

        .header__section
            .header__contacts.header__full-width
                .header__phone.hidden-lg
                    +icon({name: '#ic-phone-call', stroke: 'current', width: 24, height: 24})
                    span +888-000-000
                .header__btn.hidden-lg
                    +btn({color: 'primary'})
                .header__lang.has-dropdown.hidden-lg
                    +btn({size: 'sm', withIcon: true, color: 'link'})
                        span RU
                        +icon({name: '#ic-open', color: 'primary', width: 16, pos: 'right'})
                    +dropdown({items: langItems, pos: false, itemClass: 'text--sm'})(id='header__lang-dropdown')
                        ul
                            each langItem in langItems
                                li.text--sm
                                    a.nav__link.header__lang-link(href= langItem.href)= langItem.title
            +nav(navItems)(class='header__full-width')

            

