
$header-padding: (
    def: 0 50px,
    $lg: 0 20px
);

$header-logo-size: (
    def: 150px,
    $lg: 80px
);

$header-logo-padding: (
    def: 20px 0,
    $lg: 10px 0
);


.header {
    @include trs;

    @include resp-magic(padding, $header-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    &.is-hidden {
        transform: translateY(-110%);
    }

    &--tiny {
        @include mq-up($lg) {
            background: $color-w;

            .header__logo {
                padding: 0;
                transform: scale(.7);
            }

            .header__contacts {
                max-height: 0;
                transform: translateY(-100%);
                opacity: 0;
            }
        }
        
    }
}

.header__logo {
    @include trs;
    
    @include resp-magic(max-width, $header-logo-size);
    @include resp-magic(padding, $header-logo-padding);
    display: block;
    padding: 20px 0;
    transform-origin: 0 center;

    img {
        width: 100%;
    }
}

.header__section,
.header__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.header__phone-number {
    margin: 0 20px 0 10px;
}


.header__full-width {
    width: 100%;
}

.header__contacts {
    @include trs;
    max-height: 100px;
    overflow: hidden;
}

// Lang
.header__lang {
    position: relative;
    z-index: 10;
}

.header__lang-link:hover {
    background: $color-grey-0;
}