// Custom styles for header
.header {
    // background: #000;
}

.header__phone {
    display: flex;
    align-items: center;

    span {
        margin-left: 20px;
    }
}

.header__btn {
    margin-left: 20px;
}