mixin scroll-x(config)
    -
        const defaults = {
 
        }
    
    -   const params = Object.assign({}, defaults, config)
    
    .scroll-x&attributes(attributes)
        if config
            each elm in params.elms
                .scroll-x__item                   
                    +btn({class: elm.class, color: elm.color})
                        span= elm.span
        else
            block
mixin scroll-x__item
    .scroll-x__item
       block
    

                
