.scroll-x {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    @include mq($xl) {
        flex-wrap: nowrap;
        justify-content: flex-start;      
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }  
}

.scroll-x__item {
    margin: 0 15px;
    margin-bottom: 15px;
    @include mq($xl) {
        margin-bottom: 0;
    }
}