-
    var arr = [
        '../../assets/img/landing-img/feature-logo-1.png',
        '../../assets/img/landing-img/feature-logo-2.png',
        '../../assets/img/landing-img/feature-logo-3.png',
        '../../assets/img/landing-img/feature-logo-4.png',
        '../../assets/img/landing-img/feature-logo-5.png',
        '../../assets/img/landing-img/feature-logo-6.png'
        
    ];
each item in arr 
    .featured__logo
        a(href="")
            img(src='' + item)
