include ../mixins.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/common.css")
    body 
     -
            var data = {
                items:[
                    {
                        name: 'Item 1'
                    },
                    {
                        name: 'Item 2',
                        hasDrop: true,       
                        items: [
                            {
                                name: 'item 2-1',
                            },
                            {
                                name: 'item 2-2',
                                hasDrop: true,
                                items: [
                                    {
                                        name: 'item 2-2-1',
                                        
                                    },
                                    {
                                        name: 'item 2-2-2',
                                        hasDrop: false,
                                        items: [
                                            {
                                                name: 'item 2-3-1',
                                            },
                                            {
                                                name: 'item 2-3-2',
                                            },
                                            {
                                                name: 'item 2-3-3',
                                            }
                                        ],
                                        icon: {
                                                name: '../../assets/img/landing-img/icon-arrow_dropdown.svg',
                                                width: 16,
                                                height: 16
                                            } 
                                        },
                                    {
                                        name: 'item 2-2-3',
                                    }
                                ],
                                icon: {
                                        name: '../../assets/img/landing-img/icon-arrow_dropdown.svg',
                                        width: 16,
                                        height: 16
                                }
                            },
                            {
                                name: 'item 2-3',
                            },
                        ],
                        icon: {
                                name: '../../assets/img/landing-img/icon-arrow_dropdown.svg',
                                width: 16,
                                height: 16
                            }
                        } ,
                    {
                        name: 'Item 3',
                    }
                ],
                icon: {
                        name: '../../assets/img/landing-img/icon-arrow_dropdown.svg',
                        width: 16,
                        height: 16
                    }
               }
    .toggleBtn 
        a(href="#") X
    .navigate
        +dropdown-menu(data)


script(src="js/vendors/utils.js")
script(src="js/common.js")