.navigate {
    background: orangered;

    .drop__list {
        background: orangered;
        display: flex;



        a {
            display: block;
            padding: 0 10px;
            color: #FFF;
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            transition: .3s;

            &:hover {
                background-color: #000000;
            }
        }
    }
}

.hasDrop {
    position: relative;
}

.icon {
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    z-index: 9;
}

.hasDrop {

    //     position: relative;
    .drop__list {
        display: none;
        position: absolute;
        top: 60px;
        width: 170px;


    }

    &:hover {
        >.drop__list {
            display: block;
        }
    }
}


// 

//     ul {
//         display: flex;
//     }


//     .drop__list {
//         display: none;
//         position: absolute;
//         top: 60px;
//         width: 170px;

//         .drop__list {
//             width: 100%;
//             position: absolute;
//             left: 100%;
//         }
//     }

//     &:hover {
//         >.drop__list {
//             display: flex;
//             flex-direction: column;
//         }
//     }

//     .drop__link {
//         &:hover {
//             >.drop__list {
//                 display: block;
//             }
//         }
//     }

// }

.goback,
.toggleBtn {
    display: none;
}











@include mq($xs) {
    .toggleBtn {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 22px;
        font-weight: bold;
        z-index: 1;
        color: white;
    }

    .hasDrop {
        .drop__list {
            transform: translateX(100%);
            transition: .4s;
            position: absolute;
            top: 0;
            width: 100%;
            background-color: #ccc;

        }
    }

    .navigate {
        .drop__list {
            flex-direction: column;
        }
    }






    .goback {
        text-align: center;
        padding: 10px;
        display: block;

        a {
            color: white;
            font-size: 14px;
        }
    }




}


.open {
    transform: translateX(0) !important;

}